[2014-02-06 05:30] benbjohnson opened #9 "Rebalancing"
Rebalance the b+tree after a value is deleted from the database.

[2014-02-06 05:33] benbjohnson opened #10 "Freelist"
Maintain a list of free pages that are no longer used by any transactions.
- [x] Maintain list of old pages by transaction id.
- [x] Maintain list of current transactions.
- [x] Reclaim free pages after oldest transaction closes.
- [x] Save latest freelist to a `p_freelist` page.

[2014-02-06 05:38] benbjohnson opened #11 "Writer Lock"
Maintain a single `DB`-level lock while a `RWTransaction` is in-process.

[2014-02-06 05:42] benbjohnson opened #12 "Cursor Iteration"
Allow for forward-only cursor iteration.
- [x] `Cursor.First()`
- [x] `Cursor.Next()`

[2014-02-06 14:28] benbjohnson opened #13 "Auto-resize mmap"
Automatically resize the `mmap()` as needed.
- [x] Obtain write lock to block all new reader transactions.
- [x] Reopen mmap() with larger size.

[2014-02-06 17:20] benbjohnson opened #14 "C Cursor"
Implement a cursor in CGO in a separate `github.com/boltdb/bolt/c` package. This cursor will only be available on read-only `Transaction` objects.

Basic Go usage:

[code]

Raw C API:

[code]

[code]

[2014-02-06 17:29] benbjohnson opened #15 "API Documentation"
- [ ] DB
- [ ] Transaction
- [ ] RWTransaction
- [ ] Bucket
- [ ] Cursor

[2014-02-06 17:30] benbjohnson opened #16 "Package Documentation"

[2014-02-06 17:33] benbjohnson opened #17 "Examples"
Add examples to the godoc.
- [ ] Opening and closing a database.
- [ ] Creating a bucket.
- [ ] Deleting a bucket.
- [ ] Setting a value and retrieving it.
- [ ] Setting a value and deleting it.
- [ ] Setting multiple values and iterating over them.
- [ ] Copying the database via writer.
- [ ] Copying the database to a new path.

[2014-02-09 20:49] #9 closed, assigned to benbjohnson

[2014-02-11 00:00] #10 closed, assigned to benbjohnson

[2014-02-11 00:00] #11 closed, assigned to benbjohnson

[2014-02-11 16:57] #12 closed, assigned to benbjohnson

[2014-02-11 19:18] benbjohnson opened #22 "golint"
Make sure bolt reasonably passes golint.

[2014-02-11 19:19] benbjohnson opened #23 "Race detection"
Add `testing/quick` tests to check for thread safety.

[2014-02-12 22:41] benbjohnson opened #25 "Meta Checksum"
- [x] Add a checksum to the meta page to guarantee that it is uncorrupted.

[2014-02-12 22:45] benbjohnson opened #26 "Async Writes"
Add an async flag to the `DB` to set whether writes are synchronous or asynchronous.

[2014-02-13 14:49] #13 closed, assigned to benbjohnson

[2014-02-13 16:09] benbjohnson opened #27 "Sequence"
Add an autoincrementing sequence integer to the bucket:

[code]

[2014-02-13 16:13] benbjohnson opened #28 "Transactional Blocks"
### Overview

Add an easy way to execute a writer transaction that automatically closes.

[code]

Returning a nil error will commit the transaction but returning a non-nil error will rollback the transaction.
### Example

[code]

[2014-02-13 18:00] #15 closed, assigned to benbjohnson

[2014-02-13 18:00] #16 closed, assigned to benbjohnson

[2014-02-13 18:00] #22 closed, assigned to benbjohnson

[2014-02-14 15:35] #17 closed, assigned to benbjohnson

[2014-02-15 17:29] #27 closed, assigned to benbjohnson

[2014-02-15 22:01] #28 closed, assigned to benbjohnson

[2014-02-15 22:25] benbjohnson opened #33 "Bucket Reclamation"
All pages used by a bucket need to be moved to the freelist after the bucket is deleted.
- [x] Build a list of page ids used by the bucket by recursively traversing the tree.
- [x] Add pages to freelist.

[2014-02-16 05:55] #23 closed, assigned to benbjohnson

[2014-02-16 05:56] benbjohnson opened #35 "Code Coverage"
Increase code coverage to 99% or more.

[2014-02-16 23:30] benbjohnson opened #37 "Defer"
Add the ability to execute closures after an RWTransaction is successfully committed. Deferred functions do not take any arguments and cannot return anything.

[code]

[2014-02-19 20:29] pkorotkov opened #38 "Add Windows support"
Hello,
Thanks for a great project, I'm really happy that I encountered it lately.
Do you have plans to add Windows to the list of supported OSes? Correct me if I'm wrong, currently the only sticking point to port bolt is a bit tricky memory-mapping mechanism in Windows not given out of the box (standard Go syscall library). Well, if that's the case, a proper implementation of [_syscall](https://gi

[2014-02-20 15:57] tv42 opened #39 "Shouldn't NextSequence return uint64?"
It seems right now NextSequence ends up having different behavior on 32-bit vs 64-bit platforms. I understand that mmap limits mean a 32-bit platform won't ever have a _huge_ boltdb database, but what if one just e.g. cycles through primary key ids relatively quickly? Leaving id=1 allocated and then wrapping a 32-bit counter is definitely plausible.

[2014-02-20 17:12] tv42 opened #41 "suggestion: Simpler API with constructor-style Open"
Mirroring os.File, if instead of DB.Open you had

func Open(name string, mode os.FileMode) (*DB, error)

that could save some error checking, and even more interestingly, that would almost remove the current only source of errors for DB.Transaction and .RWTransaction.

Almost because one could still run db.Close(); d.Transaction(). But that oughta be rare enough... so to make this idea complete, w

[2014-02-20 17:53] tv42 opened #42 "Cursor.Get docstring copy-paste error"
"Get moves the cursor to a given key and returns its value. If the key does not exist then the cursor is left at the closest key and a nil key is returned."

should say "nil value is returned".

Perhaps Cursor.First and Cursor.Next could guarantee they'll return nil values also, so a for loop that wants to start at a specific key only needs to check value? This already seems true.

That is:
Cursor

[2014-02-20 18:06] #42 closed, assigned to nobody

[2014-02-20 18:16] tv42 opened #44 "Cursor.Get should land before non-existing key, not after it"
Currently, you can't use Cursor to do range queries or walk a prefix, because if the exact key is not found, it can land _after_ the range. One would expecting walking onward from "foo" to find "foobar":

[code]

[2014-02-20 20:27] #44 closed, assigned to nobody

[2014-02-20 20:37] tv42 opened #46 "wishlist: Reverse iteration"
I have a use case where I want to find the largest key. On leveldb, I seek to max and step backward once. With bolt.. I think I either have to store my keys as MAX-id (which happens to work for my numeric keys), or.. maybe do a binary search..

Is there a philosophical reason for not doing backwards iteration, or is it just tedious to write?

No rush, I can kludge my use case for now.

[2014-02-20 20:57] #46 closed, assigned to nobody

[2014-02-26 22:48] cespare opened #52 "Open API"
Hey, I was curious about the initialization API:

[code]

I didn't see how this worked until I looked at an example. I was looking for a global function to open a database. The typical pattern I would expect to find (examples: `net`, `database/sql`, `leveldb-go`, `mgo`) is like this:

[code]

Was this a deliberate break from convention? Not a big deal, just curious. (I'd also be happy to send over

[2014-02-26 23:00] #52 closed, assigned to nobody

[2014-02-26 23:39] #41 closed, assigned to nobody

[2014-02-27 18:56] #33 closed, assigned to benbjohnson

[2014-02-27 20:57] cespare opened #54 "Index out of range crash"
Hey, I've run into a crashing issue. It may be my fault, but my usage is pretty basic. I discovered this after doing some tests where I inserted many thousands of chat messages into Bolt, but fortunately I was able to reproduce with randomly generated messages as well.

Here's the repro code:

https://gist.github.com/cespare/9623b31999bbc0e5266a

All it does is insert 1000 20-word randomly generat

[2014-02-27 21:37] #54 closed, assigned to nobody

[2014-02-28 22:12] benbjohnson opened #56 "Nested Keys"
## Overview

Add the ability to nest key/value data inside of keys. This is useful for building indexes and for certain types of nested data.
## API

We'll need a function for retrieving a cursor to iterate over the nested values:

[code]

We'll also need functions to get/put/delete. These subkeys are essentially the same thing as buckets. Maybe we just return a `Bucket`:

[code]

Otherwise we'll

[2014-03-05 03:59] benbjohnson opened #58 "Benchmarking / Profiling"
Add benchmarks and setup pprof to figure out where to improve performance. Bolt is currently unoptimized so it needs some work.

[2014-03-05 04:08] #58 closed, assigned to benbjohnson

[2014-03-08 23:58] benbjohnson opened #59 "Rename Transaction to Tx"
For consistency with [database/sql](http://golang.org/pkg/database/sql), I'm going to rename the transaction classes:

[code]

/cc @tv42 @cespare

[2014-03-13 18:03] tv42 opened #62 "TestTransactionBuckets quickcheck failure"
Just stumbled on this, running 64fcacedfa3e59e9dbb0cc0d2b3de71cae3290df:

$ go test ./...

seed: 92275
quick settings: count=5, items=1000, ksize=1024, vsize=1024
.....
00010000000000000000000000000000
--- FAIL: TestTransactionBuckets (0.00 seconds)
        Location:       transaction_test.go:24
    Error:      Not equal: "foo" != "bar"

[code]

.....
.....
FAIL
FAIL    github.com/boltdb/bolt  1.9

[2014-03-13 19:45] tv42 opened #63 "Cursor.Last() index out of range"
This bug was introduced in 7214e089c0f78fce8fb1e00f09f7d2b54c88bdbe

[code]

[code]

[2014-03-13 20:51] #63 closed, assigned to nobody

[2014-03-13 21:12] #59 closed, assigned to benbjohnson

[2014-03-14 00:18] #62 closed, assigned to nobody

[2014-03-21 14:34] benbjohnson opened #67 "Remove Ease-of-Use Functions"
Currently the `DB` type adds some ease of use functions for performing single actions within a transaction. e.g. `DB.Put()` opens a write transaction, sets the value for a key, and then commits.

After using Bolt in two projects I find that I don't use these ease of use functions at all and that they're kind of an anti-pattern. They're only useful for the _most trivial_ of use cases.

Typically wh

[2014-03-21 16:21] #67 closed, assigned to benbjohnson

[2014-03-21 16:23] benbjohnson opened #69 "Getting Started"
Add better documentation to the README for getting up and running with Bolt.

[2014-03-21 18:39] pkorotkov opened #70 "Proposal: Return an error instead of panic in (*DB).munmap"
@benbjohnson Hi,
Could you please explain me why you panic in [this](https://github.com/boltdb/bolt/blob/master/db.go#L172) method? I dare to say that returning error is more Go-idiomatic. No less important, that you'll be able to pass the error to the [DB Close](https://github.com/boltdb/bolt/blob/master/db.go#L246) method, thereby implementing the classic io.Closer interface. What do you think?

[2014-03-21 19:32] #70 closed, assigned to nobody

[2014-03-21 19:37] benbjohnson opened #72 "Combine Tx() & RWTx()"
The transaction API is currently:

[code]

That made sense when there were separate transaction types (`Transaction` & `RWTransaction`) but now there's just one.

The new API would look like:

[code]

This lines up better with the types and the underlying `Tx.Writable()` function.

/cc @tv42

[2014-03-22 02:51] tv42 opened #73 "Tx.Commit on a non-writable transaction"
Reading the code, this caught my eye:

https://github.com/boltdb/bolt/blob/master/tx.go#L160-L162

[code]

so if I accidentally use a read-only transaction instead of a writable one, Commit silently drops the changes I made in good faith, and reports success.

That seems like a trap.

I feel like DB.Tx().Commit() should return an error, "not a writable transaction" or something, and code should us

[2014-03-23 16:16] benbjohnson opened #77 "Improve file system testing"
Bolt previously used the `mock` package of the Testify library to mock out the OS and Syscalls but it caused other issues so it was removed. I'd like to investigate using a FUSE mount to mock out file system failures.

@tv42 Is it possible to simulate file system failures using `bazil.org/fuse`?

[2014-03-23 16:49] #26 closed, assigned to benbjohnson

[2014-03-23 17:06] pkorotkov opened #79 "Proposal: Change signature of (*DB).Stat"
@benbjohnson
Looking at how you provide db statistics (it's great btw) I recalled a series of discussions about refactoring Memory (and GC) stat function in the Go standard library. The eventual form of them is based on that you pass _a pointer_ of a stat struct (see for instance [here](http://tip.golang.org/pkg/runtime/debug/#ReadGCStats) and [here](http://tip.golang.org/pkg/runtime/#ReadMemStats

[2014-03-23 17:51] #79 closed, assigned to nobody

[2014-03-23 17:56] benbjohnson opened #80 "QuickCheck error"
Running the parallel tests using `-quick-seed=36575` results in a consistency error after 1m23s. Failure happens consistently on Linux and Darwin.

See also: https://drone.io/github.com/boltdb/bolt/78

[code]

[2014-03-23 18:24] #73 closed, assigned to nobody

[2014-03-23 19:18] #37 closed, assigned to benbjohnson

[2014-03-23 19:18] #35 closed, assigned to benbjohnson

[2014-03-23 19:21] benbjohnson opened #82 "Bucket reclamation bug"
The bucket page doesn't not seem to be getting reclaimed properly on the Scuttlebutt project which causes the DB to grow. Need to investigate further and add better consistency tests using `tx.Page()`.

[2014-03-23 19:26] benbjohnson opened #83 "Document thread safety guarantees"
Better document which parts of Bolt are thread safe (`DB`) and what parts are not (`Tx`, `Bucket`, `Cursor`).

/cc @pkorotkov

[2014-03-23 20:06] tv42 opened #84 "Copy/CopyFile does not guarantee consistent meta page"
There's nothing synchronizing commit completion and Copy start. It currently relies on a1) os.File.Read not returning short reads and a2) io.Copy buffer being >= meta page size and a3) io.Copy buffer size not ending in middle of second meta page and AND b) the passed in writer _not_ implementing io.ReaderFrom with a small buffer.

LMDB seems to do this by temporarily holding some extra lock, but I

[2014-03-24 13:50] #77 closed, assigned to benbjohnson

[2014-03-24 17:46] #72 closed, assigned to benbjohnson

[2014-03-24 21:04] pkieltyka opened #89 "Compaction"
Hello,

I was just wondering what Bolt is planning for database compaction? I'm not sure if this is something designed into Lmdb, but I was just running some tests, putting a lot of data into a boltdb, then removing the keys, then adding some more (ones with the same name and others), and the database just kept growing.

Btw, great work on Bolt! It's very clean and happy to see it so active.

As a

[2014-03-25 13:31] #82 closed, assigned to benbjohnson

[2014-03-25 14:21] #80 closed, assigned to benbjohnson

[2014-03-25 15:53] benbjohnson opened #93 "Improve DB.Delete() performance"
Deleting items from a bucket is really slow. Need to investigate why.

[2014-03-25 15:54] benbjohnson opened #94 "Improve bulk load performance"
Bulk loading more than 1000 items at a time is very slow. This is because nodes are not splitting before commit which causes large memmove() operations during insertion.

This should be (relatively) easy to fix.

[2014-03-25 18:21] benbjohnson opened #95 "cmd/bolt-bench"
Add a command line benchmarking program that can be used to test multiple Bolt use cases (small inserts, large inserts, bulk insert, random reads, sequential reads, etc).

[2014-03-25 18:22] benbjohnson opened #96 "cmd/bolt-fsck"
Add a command line utility for performing an in-depth consistency check on Bolt databases.

[2014-03-26 17:00] #84 closed, assigned to nobody

[2014-03-29 21:16] #96 closed, assigned to benbjohnson

[2014-03-29 21:18] benbjohnson opened #99 "Add memory checks to test suite"
Not sure how to do this yet but I need to be able to verify that there are no memory leaks in the test suite.

[2014-03-31 00:08] tv42 opened #101 "Remove all hardcoded paths to /tmp"
Every single one of these is a security problem:

[code]

[2014-03-31 17:03] benbjohnson opened #103 "Remove DB.Open()"
Per @tv42's [suggestion](https://github.com/boltdb/bolt/pull/102/files#r11124418), only allow a database to be opened using `bolt.Open()`.

[2014-03-31 17:34] benbjohnson opened #105 "Ignore no-op updates"
Add a `dirty` flag to `Tx` to track whether any changes actually happen. If the transaction is not dirty when `Commit()` is called then simply call `Rollback()` instead.

[2014-03-31 18:03] #103 closed, assigned to benbjohnson

[2014-03-31 18:53] benbjohnson opened #106 "Consolidate file descriptors"
Bolt currently uses two separate file descriptors: one unsync'd for the data pages and one sync'd for the meta pages. This is a carryover from LMDB. Instead, we should look at using a single file descriptor and use `fdatasync()` instead.

Per @tv42's recommendation: https://github.com/boltdb/bolt/pull/104/files#r11130463

[2014-03-31 18:58] #89 closed, assigned to nobody

[2014-04-01 12:49] benbjohnson opened #108 "Performance Statistics"
Add support for tracking performance statistics. Returned stats objects should be diff-able so that performance information can be determined for any arbitrary period of time. Stats should also be collected on a per-transaction basis and rolled up to the database on commit/rollback so locks are not required.

Possible stats:

[code]

Possibly look at Oracle wait events for inspiration: http://docs

[2014-04-02 19:57] benbjohnson opened #110 "File lock"
Add advisory locking to the `DB.file` descriptor so that two processes cannot step on each other:

[code]

[2014-04-02 19:58] #106 closed, assigned to benbjohnson

[2014-04-02 20:09] #110 closed, assigned to benbjohnson

[2014-04-02 22:03] #108 closed, assigned to benbjohnson

[2014-04-02 23:02] #25 closed, assigned to benbjohnson

[2014-04-02 23:07] pkieltyka opened #114 "Configurable page size by db or bucket"
I'm not sure if this is a good idea, it's more of a question then an issue. I'm planning to use boltdb as a storage engine for a local database of images that vary in size from 30kb to 500kb (mostly). The database will be between 5 to 30 GB.

I spent some time reading the boltdb code today, which is super clean, but I'm still learning it. The general data structure in memory is:

[code]

Is that r

[2014-04-03 00:36] benbjohnson opened #115 "README: "Internals""
Document the internal structure of Bolt.

[2014-04-03 13:53] benbjohnson opened #116 "Change verbiage for physical pages"
Currently there are two definitions for pages in Bolt:
1. Physical pages - these are fixed-sized blocks based on `DB.pageSize`.
2. Logical pages - these span across multiple physical pages using `page.overflow`.

The overloading of the term "page" makes it difficult to explain to people what's going on in Bolt. A better choice of terms would be "blocks" for physical pages and "pages" for logical p

[2014-04-03 14:19] benbjohnson opened #117 "Determine max key/value sizes"
Currently there are max key and value sizes but they were conservative guesses when the project started. They need to be updated to the actual limits.

[2014-04-09 14:42] benbjohnson opened #124 "Inline Buckets"
Allow small nested buckets to have their data written inline with their bucket header instead of requiring an entire root page.

[2014-04-09 14:43] benbjohnson opened #125 "Optimize nested buckets for read-only transactions"
Buckets are currently tracked at every level for all transactions. This should only be required for writable transactions.

[2014-04-09 14:45] benbjohnson opened #126 "Cursor reuse"
Cursors should be allowed to be reused so that iterating over a multi-level bucket structure only requires one cursor for each level.

Some kind of function like this would be required:

[code]

That's not quite the right name though.

[2014-04-11 21:11] #56 closed, assigned to benbjohnson

[2014-04-11 21:12] #101 closed, assigned to nobody

[2014-04-16 20:30] hotei opened #132 "cursor.Next() has unusual behavior on first record"
I expected c.Next() on a newly opened bucket to return the first key-value pair without a requirement to call c.First().  Instead it appears to open the database at the LAST record - so that the first call to Next() returns nil even though the database actually is not empty.

Is there some reason for requiring "c.First()" ? It's easy to add the extra code to call first, but it's slightly "non-idio

[2014-04-16 20:55] #132 closed, assigned to nobody

[2014-04-17 00:43] benbjohnson opened #133 "Document uninitialized cursor behavior"
Per @hotei via https://github.com/boltdb/bolt/issues/132#issuecomment-40668969:

[2014-04-19 14:09] #95 closed, assigned to benbjohnson

[2014-04-22 21:39] benbjohnson opened #138 "Build Error"
Under very high contention (1000 concurrent transactions), the simulation test hits a page fault. Not sure if if this is a test suite bug or a Bolt bug.

https://drone.io/github.com/boltdb/bolt/121

This [other build error](https://drone.io/github.com/benbjohnson/bolt/93) may or may not be related.

[2014-04-25 20:41] tv42 opened #141 "Tx.Cursor would be nice"
Iterating top-level buckets (Tx.ForEach) is different from iterating nested buckets (Bucket.Cursor).

[2014-04-26 14:52] #14 closed, assigned to benbjohnson

[2014-04-28 23:12] tv42 opened #143 "Not copying Put []byte arguments can be very confusing"
The buffer reuse below is an attempt to not generate garbage, but results in very confusing behavior. This is probably wider in scope than just Bucket.Put.

I understand the motivation behind copying, but the documentation doesn't warn against buffer reuse currently, so at least that has to change.

[code]

[code]

[2014-04-29 15:34] #143 closed, assigned to nobody

[2014-04-29 15:56] #141 closed, assigned to nobody

[2014-05-05 22:00] pkieltyka opened #155 "Writing to a >8gb db file"
I'm using bolt (master) in production as a persistent store for binary files (50 to 300kb).  I'm finding that now that my database has grown to 8gb (and growing), writes to the database are very slow, between 4 to 13seconds. I know batch writes are much better, but I can't do that in this case because it's an isolated operation, unless I keep them in memory somewhere first then every 30 seconds sy

[2014-05-06 16:00] benbjohnson opened #156 "Document unexported properties"
The unexported struct members currently have no documentation. Adding some would be really useful for people unfamiliar with the codebase.

/cc @mkobetic

[2014-05-07 18:09] #124 closed, assigned to benbjohnson

[2014-05-08 01:15] unknwon opened #157 "Study purpose"
Hi there,

It's not an issue report or feature request. I just want to ask that is this project good for studying how to write a database in Go? I'm very interested in area but there are rare books or resources can help with that.

Thanks,
Joe

[2014-05-08 13:14] #157 closed, assigned to nobody

[2014-05-14 22:07] benbjohnson opened #163 "Adjustable fill percentage"
## Overview

Bolt currently has a [fixed fill percentage of 50%](https://github.com/boltdb/bolt/blob/a6d6d964b6a87873139aa8b621185a95b66b6542/node.go#L219) which is good for random inserts but is really poor for sequential inserts. With sequential inserts (such as time series data), splits occur when a page fills up but old pages never get reinserted into so they're always stuck at 50% utilization

[2014-05-14 22:21] benbjohnson opened #164 "Strict mode"
## Overview

Bolt is still a new, immature data store so add an option to perform more extensive consistency checks on every commit. This will have the effect of slowing down commits but will also help isolate bugs in the code.
## Proposed Changes

Add a `StrictMode` flag to the `DB`:

[code]

If `StrictMode` is enabled then `Commit()` should perform a `DB.Check()` after every commit.
## Notes

Th

[2014-05-15 13:59] #164 closed, assigned to benbjohnson

[2014-05-15 20:25] #163 closed, assigned to benbjohnson

[2014-05-17 14:42] gnewton opened #167 "Memory growing despite simple program doing inserts only"
This program: https://github.com/gnewton/bolt-example  main.go inserts  2 billion small key/value pairs.
'top' shows its resident size growing progressively, about 2 MB per 5 seconds of running time.
Am I not closing something and creating a memory leak? Or is this standard accepted behaviour?

Using bolt cc6302194b

$ go version
go version go1.2 linux/amd64
$ cat /etc/redhat-release
Fedora releas

[2014-05-17 14:53] #167 closed, assigned to nobody

[2014-05-18 20:00] aydink opened #168 "go get github.com/boltdb/bolt fails"
"go get github.com/boltdb/bolt" fails on Windows 7 32bit Go version 1.2.2

Here is the output.

C:\Users\aydink\go\src\zip>go get github.com/boltdb/bolt
# github.com/boltdb/bolt

..\github.com\boltdb\bolt\db.go:125: undefined: syscall.Flock
..\github.com\boltdb\bolt\db.go:125: undefined: syscall.LOCK_EX
..\github.com\boltdb\bolt\db.go:198: undefined: syscall.Mmap
..\github.com\boltdb\bolt\db.go:19

[2014-05-19 01:03] #168 closed, assigned to nobody

[2014-05-19 20:52] sclasen opened #170 "is bolt known to work on osx?"
seeing some strange behavior/hanging on osx.

`go test -quick.maxitems 10000` eventually times out, and I also see hanging when running tests in my project that do a bunch of Put()s

`kill -3`d the test a couple times and the stack is always in `Cursor.search`  or `.searchPage`

[code]

Here is the test run timeout output.

[code]

[2014-05-19 22:52] #170 closed, assigned to nobody

[2014-06-02 15:41] #93 closed, assigned to benbjohnson

[2014-06-02 15:42] #94 closed, assigned to benbjohnson

[2014-06-02 15:43] #116 closed, assigned to benbjohnson

[2014-06-05 13:43] cwndrws opened #182 "Tests Failing on tx.CopyFile"
I just pulled down bolt and ran the tests locally, and they fail on:

[code]

And then it throws a stack trace (NPE), I assume because it's trying to use the new file, which failed. I also assume I'm doing something wrong since the tests are passing in Travis. Seen this before?

[2014-06-05 16:19] #182 closed, assigned to nobody

[2014-06-05 21:04] #155 closed, assigned to nobody

[2014-06-05 23:28] jsherer opened #184 "Panic on transaction commit when deleting a large number of keys"
Hey there,

I'm experimenting with bolt and am running into an issue when bulk deleting keys from a database within a transaction. During the commit, bolt hangs, then panics.

I'm trying to narrow down and extract a piece of code that can reproduce the error, but here are two unique panic dumps I've experienced:

[code]

[code]

I'm on OS X Mavericks, Go 1.2.1, and on the current boltdb head: 9ffb

[2014-06-07 00:19] #184 closed, assigned to nobody

[2014-06-09 15:40] Preetam opened #186 "Cursor can't find key"
Here is the database: https://drive.google.com/file/d/0BzmlycZzKfW5WF8zTm5oVUxnZFU/edit?usp=sharing

I have a few keys in there that start with "series.13", but whenever I try to seek to "series.13" I get `nil` keys.

[code]

[2014-06-09 18:59] #186 closed, assigned to nobody

[2014-06-09 20:48] Preetam opened #188 "panic: runtime error: index out of range"
I'm not sure if this is a bug. Our fork is running the `fix-seek` branch from earlier today. Keys are < 30 bytes, values are < 10 bytes.

It's going to be harder for me to provide an example program demonstrating this since I'm swapping out LevelDB in something. Hopefully I'm doing something obviously wrong?

[code]

[2014-06-10 16:06] #188 closed, assigned to nobody

[2014-06-12 19:49] Preetam opened #192 "panic: page already freed in tx"
[code]

Keys are < 30 bytes and values are < 10 bytes, as before. I'm putting ~275 MB of CSV data into Bolt, but I get a panic in the process. The database file size is 21 GB, which is a lot, but running `bolt export` only gives 31 MB of JSON.

[code]

5373952 pages are `unreachable unfreed` apparently, and with a 4 kB page size that means ~20992 MB of bad pages.

[2014-06-13 13:07] #38 closed, assigned to benbjohnson

[2014-06-14 21:57] ernado opened #195 "Build error on linux i686"
[code]

`go version devel +f8b50ad4cac4 Mon Apr 21 17:00:27 2014 -0700 + linux/386`

[2014-06-17 18:06] benbjohnson opened #196 "Revert split"
The change to simplify `node.split()` is causing fragmentation problems which also leads to issues with the freelist. The split needs to be reverted to do a multi-page split when applicable.

[2014-06-18 21:28] #195 closed, assigned to nobody

[2014-06-19 13:17] #196 closed, assigned to benbjohnson

[2014-06-19 19:21] benbjohnson opened #203 "Caveats / Limitations"
Document caveats and gotchas about Bolt.
- Bolt works best for read intensive applications. For higher write throughput, implement a WAL or transaction coalescing.
- Bolt is organized as a B+tree so there is a lot of random access. Performance is significantly better on an SSD than on spinning rust.
- Very large transactions are currently not allowed because of freelist overflow. Dirtying 256MB of

[2014-06-19 22:52] calmh opened #204 ""unexpected fault address" on commit"
I see this, intermittently.

go version go1.3 darwin/amd64

Bolt 42b4cae

[code]

[2014-06-20 13:15] benbjohnson opened #205 "Track node dirtiness"
Currently Bolt will write out every page touched by a write transaction -- even those that have not been altered. A `node.dirty` flag needs to be added to track when changes are made to a node so only dirty nodes are written out.

/cc @calmh

[2014-06-21 15:41] benbjohnson opened #207 "Add options to bolt.Open()"
## Overview

There are several options that can only be set during database initialization so a `bolt.Options` struct will be added to `bolt.Open()`. This will change the API from:

[code]

to:

[code]

Passing a `nil` for the options will use the default options.
## Options

The initial set of options to be used are:
- `PageSize` - The size of an individual physical page. Currently defaults to th

[2014-06-22 16:00] #39 closed, assigned to nobody

[2014-06-22 16:10] #207 closed, assigned to benbjohnson

[2014-06-24 11:16] aydink opened #211 "Overflow error"
Go get fails with the following error on Windows 7 32bit, go version go1.3 windows/386.

c:\users\aydink\go\src\github.com\boltdb\bolt\bolt_windows.go:38: constant 42949
67295 overflows int

[2014-07-09 07:35] rusco opened #216 "DB size increase on windows"
Running Nate Finch's example several times on Win7/64 bit/1.3 increases the db-filesize each time, jumping even over 1 Giga after running only a few times:

[code]

[2014-07-09 21:22] glycerine opened #217 "test suite failure in TestOpen_BadPath / db_test.go:25"
d9a0f51bee413ccff75251740d7d78736a9c4a49
go version go1.2.2 darwin/amd64

[code]

[2014-07-10 13:35] #216 closed, assigned to nobody

[2014-07-10 15:43] #217 closed, assigned to nobody

[2014-07-10 20:53] #138 closed, assigned to benbjohnson

[2014-07-10 21:06] #192 closed, assigned to nobody

[2014-07-15 12:26] debraj1990 opened #222 "Bolt testing Issue"
Dear Boltdb,
Sorry for the testing issue.

[2014-07-15 12:27] debraj1990 opened #223 "Bolt testing Issue"
Dear Boltdb,
Sorry for the testing issue.

[2014-07-15 13:22] #223 closed, assigned to nobody

[2014-07-15 13:22] #222 closed, assigned to nobody

[2014-07-25 15:26] #99 closed, assigned to benbjohnson

[2014-07-25 15:27] #105 closed, assigned to benbjohnson

[2014-07-25 15:30] #117 closed, assigned to benbjohnson

[2014-07-25 15:31] #125 closed, assigned to benbjohnson

[2014-07-25 15:32] #204 closed, assigned to nobody

[2014-07-25 15:33] #205 closed, assigned to benbjohnson

[2014-07-25 21:00] benbjohnson opened #231 "Remove Testify"
Remove the Testify library from the test code. Replace with https://github.com/benbjohnson/testing.

[2014-07-25 21:01] benbjohnson opened #232 "Add testing types"
Remove the test closures and instead opt for test types.

[2014-07-25 21:47] ghost opened #233 "Cursor().Last() unexpected result"
after some days  of use boltdb, I think there are bug with Cursor().Last()
If you store inside the database keys equals 1,2,3,4,5,6,7,8,9,10
and you tried to use Cursor().Last(), key will return 9 not 10.

[2014-07-25 22:31] #233 closed, assigned to nobody

[2014-07-26 04:12] #69 closed, assigned to benbjohnson

[2014-07-26 05:09] #83 closed, assigned to benbjohnson

[2014-07-26 05:09] #133 closed, assigned to benbjohnson

[2014-07-27 01:54] #231 closed, assigned to benbjohnson

[2014-07-27 01:54] #232 closed, assigned to benbjohnson

[2014-07-28 15:01] #203 closed, assigned to benbjohnson

[2014-08-04 07:32] siddontang opened #237 "boltdb write performance is not good"
Hi:

My NoSQL [LedisDB](https://github.com/siddontang/ledisdb) uses multi optional databases: goleveldb, rocksdb, leveldb, lmdb, boltdb,  and random writing performance for boltdb is the worst in my benchmark. You can see the diagram [here](http://ledisdb.com/), raw data [here](https://github.com/siddontang/ledisdb/wiki/Benchmark).

I use [coalescer](https://github.com/boltdb/coalescer) but it doe

[2014-08-06 14:50] benbjohnson opened #238 "Use pwritev()"
Use `pwritev()` when flushing data to disk so that we can batch multiple pages into a single syscall.

/cc @siddontang @pkieltyka

[2014-08-06 15:13] #237 closed, assigned to nobody

[2014-08-16 23:43] Preetam opened #240 "Deadlock"
Here is the code that causes this:
https://github.com/PreetamJinka/txfun/tree/91062d52fc71e24ef99ed04eae877da60392ff52

You might have to tweak `N = 55` in `TestConcurrent`.

My code might be confusing. It's very crude. Let me know if I'm doing something wrong.

[code]

[2014-08-24 23:01] freepk opened #244 "Very low write speed in random mode."
Hello.

<pre>
% ./bolt bench --no-sync --count '1000' --write-mode 'rnd'
# Write 2.68452ms       (2.684us/op)    (372578 op/sec)

% ./bolt bench --no-sync --count '10000' --write-mode 'rnd'
# Write 89.396821ms     (8.939us/op)    (111869 op/sec)

% ./bolt bench --no-sync --count '100000' --write-mode 'rnd'
# Write 8.09731744s     (80.973us/op)   (12349 op/sec)
</pre>

I try to run bench with --cou

[2014-08-25 00:06] benbjohnson opened #246 "Add random read option to "bolt bench"."
Per @freepk's request, a `--read-mode rnd` should be added to the `bolt bench` tool.

See also: #244

[2014-08-25 00:06] #244 closed, assigned to nobody

[2014-08-25 04:37] sandysong opened #247 "Is there any way to iterating over nested buckets?"

[2014-08-25 07:25] #247 closed, assigned to nobody

[2014-09-01 22:06] Januzellij opened #251 "Question about munmap() endless recursion"
In munmap(), the first thing it does is call munmap() again with its *DB argument. See: https://github.com/boltdb/bolt/blob/master/db.go#L201 How does this not result in endless recursion and a stack overflow?

[2014-09-01 22:36] #251 closed, assigned to nobody

[2014-09-12 12:28] bobrik opened #253 "Memory usage depends on db size"
Here is quick and dirty program showing that boltdb memory consumption depends on db size. Each transaction updates up to 1000 keys and I think memory could be reused after each transaction, but rss is growing with db size.

Linear write (100k unique keys):

[code]

Linear write (200k unique keys):

[code]

Kind of random write (50k unique keys, 100k updates):

[code]

Kind of random write (50k un

[2014-09-15 21:48] #253 closed, assigned to nobody

[2014-09-17 07:52] a-urth opened #255 "Multithread pattern?"
I have a question about how to work with db from several goroutines simultaneously.
For now i have singleton db object from which i'm accessing db. Generally i have 2-3 goroutines: 1-2 for read and always 1 for write.
And now i'm seeing that deadlock happens if it tries to read during existing write transaction.
So, my question is - how should i access db in such environment:
- create single my ow

[2014-09-17 14:24] #255 closed, assigned to nobody

[2014-09-18 12:27] a-urth opened #256 "Does boltdb frees previously used but now empty pages?"
Hi again. You already saw my project, but for convenience - it receives some structured data through socket, saves it to db and once in 30sec reads to send for check to another service and, depending on the result - deletes of just left for future iteration . This is done for data safety, sort of the buffer.
For me its possible that external check service is down and my data cannot be deleted, so

[2014-09-18 18:04] davecgh opened #257 "Does not compile or work properly on OpenBSD"
As the title indicates, bolt does not compile on OpenBSD.  I have done a bit of preliminary work on it as I will detail below to make it compile, but then it fails the tests.

First, the compile errors are as follows:

The reason for this is the build tags in `bolt_unix.go` don't include openbsd (or freebsd/netbsd for that matter).  Also, since there is no bolt_openbsd.go, simply adding the build

[2014-09-22 17:53] #257 closed, assigned to nobody

[2014-09-22 17:57] #240 closed, assigned to nobody

[2014-09-24 19:29] freepk opened #260 "Cursor behavor on modifications"
Hello.

https://gist.github.com/freepk/b4bfb0aacbc6e2a5f862

There are many situations when cursor's Prev() Next() don't return correct position or error after data change.
In this example cursor position after Seek is "testKey00". After delete "testKey00" and "testKey01", Next() return nil, but Prev() return "testKey02" how to understan this behavior?

[2014-10-04 20:39] urandom opened #262 "Cannot compile when the target is 'arm'"
Hi,

Currently, bolt cannot be cross-compiled for arm, since mapMaxSize isn't defined.
The fix seems to be rather easy. Locally, I just copied bolt_386.go to bolt_arm.go. My raspberry pi didn't complain when I ran blevesearch on it (it is using boltdb for the index storage)

[2014-10-16 22:03] andrew-d opened #263 "[question] io.Writer Interface"
Hi there,

Is it possible to write data to Bolt without having it all in memory?  I have a use case that might require storing files that are reasonably large (~6GiB) into a K/V store, and I'd like to avoid having to read them all into memory and then write to the database.  Is there an `io.Writer`-style interface or something similar available?

Thanks!

[2014-11-03 19:54] #263 closed, assigned to nobody

[2014-11-28 00:00] #262 closed, assigned to nobody

[2014-11-28 00:01] #114 closed, assigned to nobody

[2014-11-28 00:01] #115 closed, assigned to benbjohnson

[2014-11-28 00:01] #126 closed, assigned to benbjohnson

[2014-11-28 00:01] #156 closed, assigned to benbjohnson

[2014-11-28 00:02] #246 closed, assigned to benbjohnson

[2014-11-28 00:05] #211 closed, assigned to nobody

[2014-11-28 00:06] #256 closed, assigned to nobody

[2014-11-28 00:20] #260 closed, assigned to nobody

[2014-11-28 07:05] bmatsuo opened #266 "How is filesize handled (compared to LMDB)?"
I couldn't find docs on how bolt handles map/file size and how resizing is handled.

LMDB lets processes limit the (maximum) size with `mdb_set_mapsize`. Is there an equivalent mechanism in bolt?

[2014-11-28 18:23] #266 closed, assigned to nobody

[2014-12-10 23:14] itsmontoya opened #268 "Question: PUT during ForEach"
Sorry if this is the wrong place to put this. Are there any issues with calling PUT on a bucket in which you are iterating through a ForEach?

[2014-12-10 23:24] #268 closed, assigned to nobody

[2014-12-15 19:30] evandrix opened #269 "`go get github.com/boltdb/bolt/...` - what's the trailing 3 dots for; what's it known as?"

[2014-12-15 19:46] #269 closed, assigned to nobody

[2014-12-15 20:23] Ketouem opened #270 "Give a way to iterate over buckets contained in a DB"
Currently we can interate over key/value pairs contained inside a bucket. A nice addition would be to be able to provide the user a list of buckets currently available in the current db/bucket.

[2014-12-15 20:24] #270 closed, assigned to nobody

[2014-12-23 09:20] fritzsche opened #271 "Question: does boltdb supports duplicate keys?"
Hi,
I have a non-unique index I like to use with boltdb.
In LMDB there seems to be a flag MDB_DUPSORT to allow duplicate key's (isn't it?).
I wounder there is similar feature in boltdb? Should I use Sub-Bucket's or is there a better solution?
Thx, Thomas

[2014-12-23 16:37] #271 closed, assigned to nobody

[2014-12-29 01:50] ktmn opened #272 ""invalid argument" when opening db"
I got a new docker container "google/golang"

gopath/src/test contains this file, main.go:

    package main

    import (
    	"github.com/boltdb/bolt"
    	"log"
    )

    func main() {
    	db, err := bolt.Open("data.db", 0600, nil)
    	if err != nil {
    		log.Fatal(err)
    	}
    	defer db.Close()
    }

I do a

    go get github.com/boltdb/bolt

and then in the gopath/src/test directory

[2014-12-29 22:08] mibori opened #273 "ForEach for buckets"
Hello!
Is it possible to enumerate buckets in the bucket?
It would be good that bolt will have methods like:

[code]

Wouldn't it be easier (more useful) to use a way of `[]byte` to `*Bucket` conversion?

[2014-12-29 22:21] #273 closed, assigned to nobody

[2014-12-29 23:24] fire opened #274 "Smartos cannot compile bolt due to use of flock."
Smartos doesn't have Flock and jperkin talks about the alternatives. The last reference shows how someone changed etcd to avoid flock.

This is preventing me from running influxdb so I'm making an issue tracking it.

## References

https://github.com/jperkin/www.perkin.org.uk/blob/master/_posts/2013-01-08-solaris-portability-flock.markdown

https://github.com/Sphonic/etcd/commit/aed35b89585f5b1c96

[2015-01-01 21:45] fire commented on #274
I'm available to attempt to use bolt as part of influxdb. I can run tests of bolt on smartos

[2015-01-03 17:36] benbjohnson commented on #274
@fire That'd be great. I also need to figure out a way to test locally. Maybe I can get a Vagrant box running with SmartOS.

[2015-01-03 18:53] MerlinDMC commented on #274
@benbjohnson you can use `FcntlFlock()` on OS X and Linux as well - you just can't use `Flock()` on Illumos

Also I'm afraid to say that the `FcntlFlock()` implementation does work different from `Flock()` regarding locks done in the same pid: https://gist.github.com/MerlinDMC/3197f4d13f8145c457e4

I'm currently still thinking that I'm using it wrong.

[2015-01-04 09:14] ktmn commented on #272
So the problem was indeed my mistake. I should have mentioned the way I ran the docker container was by mounting my files (first from Windows to VM, then) from VM to the docker container (basically I'm running docker on a virtual machine, just like boot2docker does it also)

    docker run -i -t -v /media/sf_go/src/test:/gopath/src/test google/golang /bin/bash

Here's what went down when compiling

[2015-01-05 01:04] benbjohnson commented on #272
@ktmn Awesome! I'm glad to hear it worked out. As for the `strace`, nothing jumps out at me but thanks for posting it.

[2015-01-05 01:04] #272 closed

[2015-01-05 18:15] kmanley opened #275 "bucket stats not updated within update tx"
Hi, this might just be my unrealistic expectation about how this should work, but I was surprised to see that bucket stats aren't kept up to date within an update tx. Is this by design? Example code below.
BTW thanks for bolt, it's the perfect fit for a project I'm working on.

[code]

[2015-01-05 18:17] kmanley commented on #275
[code]

[2015-01-05 19:31] benbjohnson commented on #275
Thanks for posting. The problem is that it's only checking the key count in the pages but the pages don't exist for a bucket until it's committed. It should be checking the pages or the in-memory nodes. I tried to add a fix but it wasn't quite right and I don't have the time right now to fix it.

I converted your example to a failing test case:

[code]

I'll look at again when I have a little extr

[2015-01-05 20:35] kmanley opened #276 "wish list - support getting number of keys in a bucket in constant time"
Currently the only ways to get the number of keys in a bucket is to traverse its keys or to call bucket.GetStats() which does some additional low-level stats gathering.

It would be nice if there were a way to get the number of keys in a bucket in constant time, given a bucket handle. One approach would be to store the number of keys in the bucket structure itself, accessible by a new bucket funct

[2015-01-07 05:58] tgulacsi opened #277 "panic: index out of range"
Hi,

When using BoltDB as an index DB for Camlistore, I got a panic, and an unusable boltdb:
http://www.gthomas.eu/gthomas/camli-index.boltdb.index_out_of_range

[code]

The BoltDB is vendored-in 33e7a074e2c470b6d0b7ee23322a1c4cc759044b.

How can this happen? What's wrong with my BoltDB usage?
My code can be viewed at https://camlistore-review.googlesource.com/#/c/4299/1/pkg/sorted/boltdb/boltdb.g

[2015-01-07 06:33] benbjohnson commented on #277
@tgulacsi I'm just glancing at your code briefly before I head to bed so I haven't had a chance to look very deeply. Are you accessing the `Tx` you create from `DB.Begin()` from multiple goroutines?

[2015-01-07 06:47] tgulacsi commented on #277
Maybe. My code is used by a more general code, and I think it is possible
that BeginBatch (which creates the Tx) and CommitBatch (which calls Commit)
is called from different goroutines.

If this may cause such effect, I'll do both in a separate goroutine.

Thanks for your help!
2015. jan. 7. 7:33 ezt írta ("Ben Johnson" <notifications@github.com>):

[2015-01-08 17:36] tgulacsi commented on #277
It is reproduced when I call Begin and Commit both in the same goroutine - at the same point of my indexing, with the same data.
Maybe the data is "bad" in some way?

[2015-01-08 21:45] benbjohnson opened #278 "Remove bolt import/export commands"
The `bolt import` and `bolt export` commands are a relic of when Bolt's file format was not stable. The format is now stable so there's no point in keeping it around.

[2015-01-08 22:16] benbjohnson commented on #278
Fixed.

[2015-01-08 22:16] #278 closed

[2015-01-10 22:37] tgulacsi commented on #277
This is reproducible.
The code is at https://camlistore-review.googlesource.com/#/c/4299/2/pkg/sorted/boltdb/boltdb.go
The last known good index is at http://git.gthomas.eu/gthomas/camli-index.boltdb.lng
The resulting index is at http://git.gthomas.eu/gthomas/camli-index.boltdb.index_out_of_range
The log file with all the Get/Put/Find is at at http://git.gthomas.eu/gthomas/camli-index.boltdb.log.g

[2015-01-11 08:27] tgulacsi commented on #277
I'll try to write a reproducer; the list of operations is at http://git.gthomas.eu/gthomas/boltlog.json.gz

[2015-01-11 21:27] tgulacsi commented on #277
Ok, finally I've managed to reproduce the problem: see https://github.com/tgulacsi/boltcrash

The main culprit is that it is only on i386!
And of course my laptop is 64bit, only my closet file server is 32bit, so the reproduction weren't easy...

[2015-01-11 21:44] benbjohnson commented on #277
Thanks for tracking the issue down to i386. I'll have to track down a 386 box to see if I can reproduce the error. How large is the database file? I wonder if it's overflowing the 2GB limit because of int size.

(sorry, I'm writing from my phone so I can't investigate further right now)

[2015-01-11 21:47] tgulacsi commented on #277
Nope, just about 256Mb.
2015. jan. 11. 22:45 ezt írta ("Ben Johnson" <notifications@github.com>):

[2015-01-11 22:17] mbertschler opened #280 "Maximum database size on 32bit architectures"
I am interested in using bolt on ARM devices.
https://github.com/boltdb/bolt/blob/master/bolt_arm.go as well as `bolt_386` mentions a maximum mmap size of 256MB. Is the mmap size correlated to the maximum database size, or can these architectures have databases that are larger than 256MB?
Maybe this could be clarified in the readme Limitations section?

[2015-01-12 06:33] tgulacsi commented on #277
Finally, in a Heureka moment, I've figured out that the crash
happens just when the db size exceeds 256Mb - what a nice number!

So a simpler reproduction came: just Put 1Mb values into the db,
and it will panic!

I think that somewhere in BoltDB a numer * 8 (or number << 4)
is stored in an int, and the 32bit limit is reached.

## panic on direct Puts
    go run main.go

[code]

[2015-01-12 06:45] tgulacsi commented on #277
Now I see bolt_386.go contains

    const maxMapSize = 0xFFFFFFF // 256MB

Why can't it be larger? I've tried to enlarge it, but then compilation fails.
I think it could be hacked to have more then one file (map), to sidestep this problem, but that would complicate BoltDB a lot.

The other solution would be forge zero-copy and just mmap the file, and copy data when needed.

[2015-01-12 18:49] benbjohnson commented on #280
Bumped up to 2GB: https://github.com/boltdb/bolt/pull/281

I'll have to add a section in the docs separately.

[2015-01-12 18:49] #280 closed

[2015-01-12 18:50] #277 closed

[2015-01-12 20:51] mbertschler commented on #280
2GB on 32 bit sounds perfect, thank you!

[2015-01-16 20:19] tv42 opened #284 "ext3/ext4 is not fully POSIX, to be safe there, need to fsync after file size changes"
@cespare pointed out this conversation to me: http://www.openldap.org/lists/openldap-devel/201411/msg00000.html (I've seen the talk before, but didn't pay enough attention).

Reading http://linux.die.net/man/2/fdatasync says (my emphasis) "fdatasync() [...] does not flush modified metadata **unless that metadata is needed** in order to allow a subsequent data retrieval to be correctly handled. [..

[2015-01-16 23:29] denys-potapov commented on #276
Probably you could define your own Bucket type, and count whatever you want

[code]

[2015-01-18 15:12] benbjohnson commented on #276
@kmanley Sorry for the delay in getting back to you. I thought about adding a key count to `Bucket` but the main issue was keeping it sync. It's so easy to miss one spot and then throw off the counter. At this point the file format is fixed so adding a count would be backwards incompatible.

Here's the current `bucket` header:

https://github.com/boltdb/bolt/blob/master/bucket.go#L52-L59

There's

[2015-01-18 15:12] #276 closed

[2015-01-18 15:31] benbjohnson commented on #284
Awesome, thanks for the fix! I moved the code over to `bolt_unix.go#mmap()`. That way it occurs after the max mmap size check and, since it's in the Unix-specific file, I don't have to re-test on Windows. :)

https://github.com/boltdb/bolt/pull/286

[2015-01-18 15:49] #284 closed

[2015-01-19 02:45] bscott commented on #278
@benbjohnson Does this mean that we can not export/import anymore?

[2015-01-19 07:58] davecgh commented on #280
Are there any plans to allow larger sizes on 32-bit?

I would really like to switch over to using bolt for the metadata storage for [btcd](https://github.com/btcsuite/btcd), but as you can imagine, the database size of Bitcoin can grow quite large.  This is especially true when you start to deal with optional address indices.  It will easily exceed 2GB which would make it unusable on 32-bit platfo

[2015-01-19 13:25] freepk opened #288 "SliceHeader"
Hello,

How do u think, can you lose memory allocated for SliceHeader(http://golang.org/pkg/reflect/#SliceHeader) in this code - https://github.com/boltdb/bolt/blob/master/db.go#L545?

WBR Paul.

[2015-01-19 17:14] mbertschler commented on #280
I guess not, because bolt relies on memory mapped files just like MongoDB. Allowing a Database bigger than 2GB would require serious workarounds as this is the maximum size for mmaped files on 32-bit architectures. http://blog.mongodb.org/post/137788967/32-bit-limitations

The only option on your side would be to split the data into multiple databases.

[2015-01-19 17:32] benbjohnson commented on #280
@davecgh As @mbertschler mentioned, 32-bit architectures have a limited address space so we can't physically map the data file into that space. Bolt files mmap to a contiguous block of memory and on a 64-bit address space that's not a problem because it's a ridiculously huge space. For 32-bit machines you can likely get into other issues of memory fragmentation before you reach the full available

[2015-01-19 17:45] benbjohnson commented on #288
@freepk what's the error you're getting?

[2015-01-19 21:04] freepk commented on #288
@benbjohnson there are no errors, make([]byte, ...) allocates two peaces of data, not in one block, first is SliceHeader, seconds array for data. You store information just about second part.
Example:
b := make([]byte, 16)

[2015-01-19 21:45] davecgh commented on #288
There is no leak.  The buf variable goes out of scope at the end of the function, so there will no longer be any remaining references to the slice header and it becomes eligible for GC.

[code]

Output:

[2015-01-19 22:29] benbjohnson commented on #288
@davecgh is correct. Also, nice quick code write up. :)

We've been running Bolt with hundreds of allocate calls a second for months without restart. I'm confident that we don't have a memory leak issue during allocation.

[2015-01-19 22:29] #288 closed

[2015-01-20 10:28] matzhouse opened #289 "use case - analysis of whether a domain, partial URL, or whole URL is in a 'set'"
Hi guys,

I've got a use case for Bolt i'm considering - mainly due to speed considerations. Lookups need to be super fast on globally distributed front ends, but the update schedule isn't that frequent so a possible idea would be to distribute a bolt db file to all nodes.

The idea would be to look up a whole URL and see if any part of it matches a list of either domains, partial URLs or whole UR

[2015-01-24 16:20] kemist opened #291 "DB size doubling on OS X"
I'm on OS X Yosemite 10.10.1, using tip. go version go1.4.1 darwin/amd64

When creating a DB larger than 4096 KiB, future calls to `bolt.Open/Close` will double the file size of the DB. Probably related to #216. Strangely the tests for 216 were dropped after a refactor, https://github.com/boltdb/bolt/commit/ba6badc#diff-65348100fd3ccd8cb8fb4f6bad6bc2d9L362

Many thanks for all your work on Bolt!

[2015-01-28 16:34] benbjohnson commented on #291
Sorry for the delay on fixing this. Thanks for submitting the issue with an example. I have it fixed on this PR: #292. Let me know if that works for you.

[2015-01-28 16:53] benbjohnson commented on #291
Also, note that you may need to specify the `-a` flag when rerunning your example. That'll recompile Bolt too. I was getting some stale compiles and I couldn't figure out why initially.

[2015-01-28 20:32] j opened #293 "Best Practices"
I have a few questions before diving completely head first into Bolt.

* How many buckets can bolt handle, and does performance degrade with the use of many buckets?
* What's the use-case of nesting buckets

And, Dealing with relationships, which scenario would be best?

A Test has many Variations.

1. I have a "Tests" bucket, and I nest a bucket called "Variations" in it prefixed like, "T:{test i

[2015-01-28 22:02] benbjohnson commented on #291
Fixed by #292.

[2015-01-28 22:02] #291 closed

[2015-01-29 02:18] kemist commented on #291
Thank you Ben! I just re-tested, all good here.

[2015-01-30 02:42] benbjohnson commented on #289
Sorry for the long delay in getting back to you. The biggest reason against a bucket per domain is if you're going to have a lot of domains that don't have much data under them. It's OK if the data for a bucket takes up less than a page (4KB) but once it grows beyond that it'll split into two page plus a parent branch page. Then you're taking up 12KB for a little over 4KB of data.

One option you

[2015-01-30 02:42] #289 closed

[2015-01-30 03:07] benbjohnson commented on #293
There's not a limit on buckets. They can be inefficient with regards to space if you store a small amount of data in each one. If the size of the data in a bucket barely exceeds a 4KB page then it'll split into two leaf pages and one parent branch page. So if you have a bucket with 5KB of data it still needs three 4KB pages store it in for a total of 12KB. Space tends to even out more when you hav

[2015-01-30 03:07] #293 closed

[2015-01-31 21:54] andre1s opened #295 "Would be great to have a function to get a list of buckets"

[2015-02-01 07:45] MJDSys opened #296 "Calling NextSequence on a bucket without modifying the bucket loses the increment"
If a function calls NextSequence on a bucket without actually modifying the bucket, the increment is lost.  So, for instance the following code (where db is a *bolt.DB):
[code]
n and o will both hold the same value.  While it is an edge case, would it be possible/allowed to fix this so just calling NextSequence on a bucket still persists the change?

[2015-02-01 20:15] kemist commented on #295
Hey Andre, this should get you a flat list of top level buckets. Taken from https://github.com/boltdb/bolt/blob/master/cmd/bolt/buckets.go

[code]

[2015-02-02 15:02] pkieltyka commented on #238
hey guys, just wondering if this is on the radar, since it sounds like it can help with write performance?

[2015-02-02 15:30] benbjohnson commented on #296
Thanks for reporting the bug. It's fixed with this PR: https://github.com/boltdb/bolt/pull/297

[2015-02-02 15:32] benbjohnson commented on #295
@andre1s You can retrieve the bucket list from any `Bucket` by iterating over the keys and finding any key which has a `value` of `nil`. The Bolt API is already getting crowded so I'd prefer to not add additional methods if they're not necessary.

[2015-02-02 15:32] #295 closed

[2015-02-02 16:11] #296 closed

[2015-02-02 16:23] MJDSys commented on #296
Excellent, thanks for fixing this!

[2015-02-02 17:09] benbjohnson commented on #238
I haven't made any progress on this yet. It hasn't been much of a priority because I'm not sure how much it'll actually help performance. The main performance issue with random writes is that they amplify writes a ton. You likely end up getting throttled by disk write speed and not syscall invocation time.

[2015-02-03 20:34] j commented on #293
Thanks @benbjohnson!  Yep, I pretty much nailed it on the head, so that's good.  Will hopefully get this project put into production and give it a few million requests / day on various instance sizes to check out performance and see how it scales.

Great project!

[2015-02-05 23:56] alvarolm opened #298 "unreachable unfreed errors growing..."
after doing 10 million Puts in one bucket of an empty database using as key a timestamp in nanoseconds and value 8 zero bytes with batches of 100 thousand everything ends fine during execution (I'm using https://github.com/boltdb/coalescer, with 1ms interval), no errors or nothing.

stats just after Puts done:
[code]
cmd bolt stats
[code]
the problem is that bolt check throws:
[code]
bolt pages |

[2015-02-05 23:59] benbjohnson commented on #298
Do you see the same issue if you don't use the coalescer?

[2015-02-06 00:23] alvarolm commented on #298
yes, i'm using this code:
[code]
last stats:
[code]
cmd bolt check
[code]
cmd bolt pages | grep "179246"
[code]
I'm testing now with cmd tool bolt bench

[2015-02-06 00:40] alvarolm commented on #298
the same happens with the cmd tool bench on random write mode:

bolt bench --write-mode 'rnd' --count '10000000' --batch-size '100000' --work
[code]
bolt check /tmp/bolt-bench-234571638
[code]
bolt pages /tmp/bolt-bench-234571638 | grep "278501"
[code]

[2015-02-06 22:37] alvarolm commented on #298
yes, it happens without coalescer also, I just updated the first comment with more info, please check it out.
guys @mkobetic @snormore @tv42 had experienced the same problem ?

[2015-02-07 23:48] stryke opened #299 "panic: runtime error: slice bounds out of range"
I'm willing to believe it is my usage error, but I'm eliciting a panic from boltdb. This happens in only 3 out of maybe 30 databases that I've created so far and these are 3 of the largest datasets. However, the panics are not related to database size. I'm successfully creating databases as large as 14 GB; the database below is only 3.22 GB when panic sets in.

Each database consists of multiple b

[2015-02-13 02:42] alvarolm opened #301 "Add large batch inserts testing"
As is necessary and is a debt that this tests are not well implemented yet:

6/12/2014 @benbjohnson
https://groups.google.com/d/msg/influxdb/eL-ijjcQnNg/MDFQtiZxSfkJ

(rel https://github.com/boltdb/bolt/issues/298)

[2015-02-15 06:18] ktmn opened #302 "Opening database read only"
How come when I open the database like this

    bolt.Open("my.db", 0444, nil)

I can still put things in buckets? I expected to get some sort of error, that the database is read only. Am I misunderstanding the reason for passing this variable to the Open() or is it simply not working cause I'm on a Windows with full admin rights and I "have the permissions anyway"?

[2015-02-15 20:45] kemist commented on #302
I think your last statement is probably correct, your account is an Administrator so it has the right to do what it pleases. Similar to running as root on *nix. If your inspect the file properties is it marked as read only? What happens if you run `bolt.Open("my.db", 0444, nil)` as a non-admin?

Bolt will do what the file system permits it to do.

[2015-02-15 21:13] benbjohnson commented on #302
I agree that it is strange. Bolt does a call to `os.OpenFile(db.path, os.RDWR | os.CREATE, mode)` when you open it. Doing an `os.CREATE` and a read-only mode will let you create a file that is only writeable by that process. If you close and reopen it then you get a permissions error. That's a byproduct of how Unix works. I assume it's something similar on WIndows.

I can't think of a good way to

[2015-02-15 21:13] #302 closed

[2015-02-16 21:35] xlab opened #303 "DB size grows on OS X"
Hello. I have OS X Yosemite 10.10.2 and go1.4.1 darwin/amd64, the situation is similar to #291. It seems that #292 fix works, because DB size grows exactly by 1GB at once. The problem is, the file grows on each `bolt.Open`, the initial size of DB was **3072MB**

[code]

After ~100 seconds I've got ~**103GB** file and no space left on the device.
`file resize error: truncate file.db: no space left

[2015-02-16 21:41] benbjohnson commented on #303
What commit SHA1 are you using? I ran your example using the latest (75f70a1) and it doesn't grow the database beyond the initial 1MB size.

[2015-02-16 21:49] benbjohnson commented on #303
Ah, nm. I found it once I bumped the size high enough. Thanks. Will fix.

[2015-02-16 21:51] xlab commented on #303
I'm using b8dbe1101d74c30e817227a99716591e3e6e6bc4 that's the last significant commit. My DB is 3072MB in size so maybe that matters. I need some time to reproduce that bug using abstract data, so will update  this issue later. As the most simple way, I can hand you my 3GB blob privately, but it's better to make a test case :) Stay tuned.

[2015-02-16 22:06] kemist commented on #303
@xlab confirmed with https://gist.github.com/kemist/f2c4a6ded05fb6aeb98d

[2015-02-16 22:17] kemist commented on #303
Oh nm, didn't see your confirm ben

[2015-02-16 22:25] benbjohnson commented on #303
@xlab @kemist: Fixed: https://github.com/boltdb/bolt/pull/304

[2015-02-16 22:33] benbjohnson commented on #303
CI is :green_heart: but can one of you confirm the fix before I merge it?

[2015-02-16 23:13] kemist commented on #303
Hey Ben, you are fast! Confirmed, db no longer grows

[2015-02-16 23:45] benbjohnson commented on #303
:dancer:

[2015-02-16 23:45] #303 closed

[2015-02-17 07:33] gdamore opened #305 "Compilation errors in illumos"
It would appear that under cgo 1.4, it doesn't work on illumos systems:

../../../../boltdb/bolt/bolt_unix.go:26: undefined: syscall.Flock
../../../../boltdb/bolt/bolt_unix.go:26: undefined: syscall.LOCK_EX
../../../../boltdb/bolt/bolt_unix.go:26: undefined: syscall.LOCK_NB
../../../../boltdb/bolt/bolt_unix.go:40: undefined: syscall.Flock
../../../../boltdb/bolt/bolt_unix.go:40: undefined: syscall

[2015-02-17 09:58] denistoikka opened #306 "Database size problems"
I found strange behaviour of the database:

1) Database size is always growing, even if I delete some key/values pairs and then rewrite them with the same content.
When I make "./bolt pages path/to/db" it returns hundreds thousands of free pages; looks like they are not being reused and their amount is only growing each time I put something to db.

2) Database is growing by ~1GB each time I make "

[2015-02-17 10:06] xlab commented on #303
Thanks!

[2015-02-17 10:18] denistoikka commented on #306
Looks like fixed here #304

[2015-02-17 10:18] #306 closed

[2015-02-17 13:06] benbjohnson commented on #306
It looks like a regression got into Bolt for databases larger than 2GB from a few commits before. Let me know if you have any other issues. Thanks for reporting!

[2015-02-17 13:10] benbjohnson commented on #305
@gdamore There's an [open issue for using `flock()` on Solaris](https://github.com/boltdb/bolt/issues/274). I didn't realize that the `mmap()` and `munmap()` calls were not available though. Bolt will support Solaris-based distributions but I haven't had the time so far to implement the changes.

[2015-02-17 16:23] denistoikka commented on #299
Have the same error every time I'm trying to put the value which is more than 256MB. Also, when trying to put two values more than 128MB in sequence; or three values more than 86MB in sequence.

Have no problems with putting values less than 85MB.

OS X Yosemite, Go 1.3.3

[2015-02-17 16:54] gdamore commented on #305
I can try to code it up and send you a patch if you like.

Sent from my iPhone

[2015-02-17 20:03] benbjohnson commented on #305
Yeah, that'd be great. I'm happy to test the changes on Linux & Mac OS X if you get them working on Illumos. Hopefully those changes should translate over to SmartOS too.

[2015-02-17 20:11] gdamore commented on #305
They will. ;-)

The only thing I’m not sure about is the Mmap stuff… I don’t know why that is missing from syscall..

	- Garrett

[2015-02-17 20:54] tv42 opened #307 "README Prefix scan example nil derefs"
[code]

k == nil happens. Maybe make that

[code]

just like the later Range scan has.

[2015-02-17 21:30] benbjohnson commented on #307
Is this to prevent an infinite loop if `len(prefix) == 0`? `bytes.HasPrefix()` should work fine with a `nil` `k` otherwise.

http://golang.org/src/bytes/bytes.go?s=7986:8023#L323

[2015-02-17 22:00] tv42 commented on #307
Right. I was being stupid.

[2015-02-17 22:00] #307 closed

[2015-02-18 01:01] everdev opened #308 "database file size not updating?"
First off, thanks for putting together a great DB.  I've been using it on several projects and like it a lot.

I did notice today that I have two databases with the same number of rows: 30,974
I was amazed to see that their file sizes are exactly the same: 134,217,728 bytes

However, they contain a different number of buckets and different values (although the keys are the same).

I also noticed t

[2015-02-18 04:47] benbjohnson commented on #308
Good questions. Bolt works by allocating 4KB pages and organizing those into a B+tree. It starts at the beginning of the file and keeps allocating more pages at the end as it needs them. Because Bolt is copy-on-write, when a page is updated, its contents get copied to a new page and the old one is freed. So as pages are freed they can be reused the next time Bolt needs to allocate.

For example, l

[2015-02-18 04:47] #308 closed

[2015-02-18 05:30] kemist commented on #308
Great explanation, this certainly solidified how it works for me.

[2015-02-18 17:17] everdev commented on #308
Super helpful, thanks for explaining it :)

[2015-02-19 18:53] alvarolm opened #310 "add crc checks"
-

[2015-02-19 19:29] benbjohnson commented on #310
The file format is fixed at this point so adding a CRC would break compatibility.

[2015-02-19 19:29] #310 closed

[2015-02-20 10:55] cdorbell opened #311 "go test crash on freebsd 10.1"
Hello everybody

i have a problem with the "go test" on freebsd 10.1 i386, i don't have any problem with the compilation
but i can't use the tool after into ibfluxdb , so i tested the test in standalone

bolt crash  :

 % go test
seed: 84803
quick settings: count=5, items=1000, ksize=1024, vsize=1024
00010000000000000000000000000000
runtime: garbage collector found invalid heap pointer *(0x826b6a0

[2015-02-22 04:02] joyrexus commented on #293
@benbjohnson This is valuable info!  Would you consider adding it the README under **Best Practices** or **FAQ**?  Or better yet, enable the repo's wiki and use it for this kind of supplementary documentation?

[2015-02-22 20:27] skybrian opened #312 "advice for bulk loading"
The README says:

"Bulk loading a lot of random writes into a new bucket can be slow as the page will not split until the transaction is committed. Randomly inserting more than 100,000 key/value pairs into a single new bucket in a single transaction is not advised."

This says what not to do, but I'm wondering what to do instead.

I'm thinking of using boltdb to create a read-only index. That is,

[2015-02-22 22:13] skybrian opened #313 "Document lifetime of Bucket instances"
Based on the Tx() and Writable() methods, it looks like a Bucket is contained within a transaction and shouldn't be cached between transactions. But it would be good to document this explicitly.

[2015-02-22 23:32] kemist commented on #299
Here's some repro code. Run on Yosemite 10.10.1.
https://gist.github.com/kemist/a0b6b023bea4d9f7d692

[2015-02-23 04:39] benbjohnson commented on #312
If you know you're going to use Bolt as a read-only database then your best option is to sort your entire dataset and set `Bucket.FillPercent = 1` on every `Bucket` you write into. Bolt normally leaves room in a page after it splits to allow room for new writes without causing page splits. But if you are writing everything in sorted order then you don't need that.

However, if you can't sort the e

[2015-02-23 04:39] #312 closed

[2015-02-23 04:40] benbjohnson commented on #313
Yes, that's correct. Can you PR a change for the documentation and I'll merge it in?

[2015-02-26 23:09] benbjohnson commented on #299
@kemist Thanks for the example code. That helped a lot.

There's an issue with Go arrays in that they are limited in maximum size. I originally thought they were limited to `0xFFFFFFF` (256MB) because when I added another `F` it caused a compile time error of "array too large". However, after some trial and error I found that `0x7FFFFFFF` (2GB) is the maximum allowed size.

I bumped the size up he

[2015-02-26 23:14] benbjohnson commented on #299
Also, one more thing to note. Because Bolt is a copy-on-write database and values are written contiguously, very large writes can be inefficient. First, when you change data, the new value has to be written to a whole new set of pages and the old one is left until it is reused. Second, Bolt has to find contiguous pages for a value so when it writes new values and frees old values, those old values

[2015-02-27 03:51] kemist commented on #299
@benbjohnson no problem! Confirmed, no longer panics.

[2015-02-27 04:15] benbjohnson commented on #299
Awesome! Thanks!

[2015-02-27 04:15] #299 closed

[2015-02-27 12:23] poffe opened #316 "freelist tests fails for 32 bits ARCH"
[code]
gives me:
[code]

[2015-02-27 12:27] poffe commented on #316
Seems like lowering the constant maxAllocSize in page.go from ```0x7FFFFFFF``` to ```0x9FFFFFF``` makes the tests pass but I have no clue what impact this would have.

[2015-02-27 15:52] benbjohnson commented on #316
Thanks for reporting. I reverted the `maxAllocSize` for the `386` architecture only in this PR: https://github.com/boltdb/bolt/pull/317

Can you test that out and verify that it fixes the issue?

[2015-02-27 16:05] poffe commented on #316
Yes, I can confirm that PR #317 fixes the issue. Thanks for the quick turnaround.

[2015-02-27 16:10] benbjohnson commented on #316
:+1: merging

[2015-02-27 16:10] #316 closed

[2015-02-27 16:29] poffe commented on #316
Sorry, but I forgot to test it in my ARM architecture (which is 32-bits as well) before confirming the pull request. I guess the ```maxAllocSize``` constant is needed in ```bolt_arm.go``` as well?
I'm getting this as ```go test``` result on my ARM:
[code]

[2015-02-28 08:35] karlseguin commented on #143
I know it's old, but, FWIW, I think this never should have been accepted. It should be be left up to the consumer; else you're forcing a clone even on those who don't need it.  Moreso given that most people are probably doing this already via []byte("xyz").

Documenting the behavior would have been better. Not sure what's to be done now that the change is in though.

[2015-03-01 10:04] Oliv4945 commented on #316
I added "maxAllocSize" in bolt_arm.go to be able to compile it on arm, but maybe we should open another issue ?

[2015-03-01 11:47] poffe commented on #316
Great! And yes, I guess we should but I can't do it right now due to personal reasons.

[2015-03-01 12:15] Oliv4945 opened #320 "Freelist build fails on ARM architecture"
```go test``` on an ARM architecture fails:
[code]
I copy/paste the declaration from ```bolt_386.go``` file to ```bolt_arm.go``` and it works, but I am not sure about the value to use...

[code]

This issue follow https://github.com/boltdb/bolt/issues/316

[2015-03-01 12:15] Oliv4945 commented on #316
Done https://github.com/boltdb/bolt/issues/320 ;)

[2015-03-01 15:37] skirmish commented on #320
I had submitted a PR (https://github.com/boltdb/bolt/pull/319) that fixes the compiler error, this was accepted and merged a few hours ago.

[2015-03-01 16:20] #320 closed

[2015-03-01 16:59] kalafut opened #321 "List and test for keys without retrieving values"
I'm using Bolt as part of a content-addressable storage system. The keys are determined by hashing the data. A number of operations depend only on the keys, and automatically having associated values pulled is an unnecessary operation, and possibly expensive for large values.  For example:

- Before storing an item, I want to be able to check whether a given key is already present, since there's n

[2015-03-01 18:24] poffe commented on #320
👍

[2015-03-01 20:08] Oliv4945 commented on #320
Great thanks, and sorry, I search on issues but not pull request...
By the way, how do you select the value ? Thx

[2015-03-02 21:06] benbjohnson commented on #321
Bolt is a zero copy database so when you iterate over key/values or seeking to a specific key the `[]byte` return values are just pointers to the underlying mmap. Since the key & value will be on the same page, there's no overhead to returning the value when you're looking up the key. That's also why it's not safe to use the `[]byte` return values outside of the transaction -- those pages can get

[2015-03-02 21:06] #321 closed

[2015-03-02 21:06] benbjohnson commented on #321
Let me know if that makes sense or if you have any other questions!

[2015-03-02 21:51] kalafut commented on #321
That makes sense, and does keep things simple. A suggestion might be to add a similar explanation to the README, for the next person fretting over the lack of Exists() or HasKey().

[2015-03-03 16:27] cdorbell commented on #311
Hi
under a 64bit version it's better.

[2015-03-03 16:27] #311 closed

[2015-03-05 10:48] mbertschler opened #322 "bolt bench --stats-interval not working"
I am seeing strange output of bolt bench used with --stats-interval
Am I using it wrong? I just updated with go get -u and run it on OSX 10.10.2

    $ bolt bench --value-size 128 --stats-interval "3s" --count 300000 --write-mode "rnd"
	{"FreePageN":0,"PendingPageN":0,"FreeAlloc":0,"FreelistInuse":0,"TxN":0,"OpenTxN":0,"TxStats":{"PageCount":0,"PageAlloc":0,"CursorCount":0,"NodeCount":0,"NodeDeref

[2015-03-06 05:11] anacrolix opened #323 "bolt cmd has no put"
It seems useful to have various put and other altering commands with the bolt binary, but these aren't provided.

[2015-03-06 05:20] cep21 opened #324 "bucket.Put() should call cloneBytes() consistently on the Key and Value"
The documentation inside "Caveats & Limitations" contains

    Byte slices returned from Bolt are only valid during a transaction

This documents slices used during reads.  It is also true that the slices passed to a bolt transaction are required to be valid for the entire transaction.

I attempted to memory optimize my code by reusing the same byte slice inside a transaction and doing Put() opera

[2015-03-06 05:23] cep21 commented on #324
I looked more into this and it may be a bug.  You call cloneBytes() inside bucket.Put() on the value, but do not on the key.

[2015-03-06 15:01] davecgh commented on #324
I wholeheartedly disagree.  In fact, I think it was a mistake for the key to be copied too.  I don't want the ability to avoid additional copies taken away from me as a caller who is in need of efficient use.  The API should document that it has zero-copy semantics and the caller must be careful to not reuse/modify the data.

I understand why it's convenient, but the caller can make a copy if they

[2015-03-06 17:12] cep21 commented on #324
I don't have a big opinion either way.  I also would like it if the bytes were just pointers, but then I need some kind of guarantee about when it's safe to reuse the buffer I've passed in.  Is it safe to reuse when the transaction is over?  Or maybe the contract is that I can't reuse the buffer ever?  It also makes sense to be consistent about how the bytes of the key and value are treated, rathe

[2015-03-07 06:44] anacrolix opened #325 "The bolt cmd is poorly designed and out of date"
The bolt cmd binary uses old-style functions like println. It doesn't support nested buckets. It's missing a put command. It doesn't handle command line arguments properly. The list goes on. I think it needs a rewrite.

[2015-03-08 14:33] yvesf opened #327 "TestBucket_Get_NonExistent fail on ARM"
[code]

System information:

[code]

I have no idea what goes wrong but if there are any ideas I'm happy to try and test. I stumbled upon this problem while trying to run influxdb on this machine.

[2015-03-08 14:40] benbjohnson commented on #325
I've been wanted to rewrite `cmd/bolt` for a while but I mainly haven't had the time. I mainly want to get rid of the `cli` dependency. That library is a fine tool but I just want to avoid dependencies in Bolt.

The `bolt` tool is mainly meant to be a simple debugging tool. It's hard to make a good generalized data access tool since users can store their keys and values in any format. I'm less con

[2015-03-08 16:57] kemist commented on #325
@anacrolix it's helpful if you provide examples that cover your questions/concerns. I can help create some repro cases for you if you want to describe them in english as opposed to code.

[2015-03-09 18:20] benbjohnson commented on #323
Closing this one as the `bolt` CLI is meant for debugging purposes only. The application should handle the write format.

[2015-03-09 18:20] #323 closed

[2015-03-09 18:21] benbjohnson commented on #322
The `stats-interval` was meant to dump out the `DB.Stats` as JSON periodically. It's not terribly useful so I'll likely just remove it. :)

[2015-03-09 18:22] #322 closed

[2015-03-13 06:30] omeid opened #329 "Test killed with quit: ran too long."
[code]

System Specs (Virtual Machine):

[code]

[2015-03-13 14:45] benbjohnson commented on #329
Are you running on an SSD or spinning disk?

[2015-03-13 15:35] omeid commented on #329
Spinning, and the vm disk is a vdi if that makes a difference.

[2015-03-13 15:51] benbjohnson commented on #329
The CI test suite runs in 9½ minutes on Drone and that's with SSDs so you'll probably need to bump up your `-timeout` flag if you're running on spinning disk. Bolt can be a lot slower on spinning disk.

The test runtime is so long because there's a lot of simulation testing going on and `testing/quick` tests that generate random data against the database.

https://drone.io/github.com/boltdb/bolt/2

[2015-03-13 15:51] #329 closed

[2015-03-13 16:47] benbjohnson commented on #305
I'm looking at this issue but having problems getting a Solaris instance up and running. The Vagrant boxes out there use VirtualBox (I'm on VMWare) and DigitalOcean doesn't support Solaris distros. :-/

I may have to build a Vagrant box from scratch but first I need to figure out how to do that. :)

[2015-03-19 11:53] baijum opened #331 "User group/mailing list/forum"
It would be great if there is a place to ask questions about Bolt. I think there are enough number users to create a group/mailing list/forum. Google groups would be good place.

[2015-03-19 13:23] benbjohnson commented on #331
I think a mailing list is a good idea. I've used Google Groups before and it's ok. I don't love it. I posted a message on Twitter asking for other suggestions.

https://twitter.com/benbjohnson/status/578546523778109440

If I don't hear of anything better in a couple days then I'll create a Google Group.

[2015-03-20 22:08] stryke commented on #299
Just wanted to say thanks for fixing this. Adding snappy-go compression got all but one of our datasets to work. After upgrading Bolt, the final data set also ran without error. The largest value in that set is 2.27 GB before compression, and the entire database is 38 GB. It took about 4 hours to build the db.

These are read-only databases in our usage so I hope to one day try your "advice for bu

[2015-03-25 21:49] jrick commented on #260
Does this apply to any modifications made to any part of the database, or only when changes are made to the bucket the cursor is iterating over?

[2015-03-25 21:51] benbjohnson commented on #260
@jrick It should only apply to the bucket that it is iterating over.

[2015-03-27 22:18] alexsacr opened #337 "Batching inserts does not improve performance and increases disk space usage"
A benchmark performed [here](https://sacrilege.io/benchmarking-bolt/) showed inserting 500k records in batches of 1000 did not increase write performance compared to performing individual transactions.  In addition, batching inserts doubled the file size of the resulting DB on disk.

The dataset consisted of a constant string value (`"877.11"`), and a sequentially increasing string key beginning a

[2015-03-28 00:54] bmhatfield opened #338 "Documentation request: What is a sequential write?"
Hi,

There are various references to sequential writes in the documentation, as well as in commentary here: https://sacrilege.io/benchmarking-bolt/. Unfortunately, and I may be the only one, it is not clear to me what precisely is meant by "sequential" write.

Is it just repeated writes to the same bucket?
Must the writes follow some sequence by key, such as alphabetical, or numerically incrementi

[2015-03-28 00:56] tv42 commented on #337
Those keys are not sequentially increasing, they are stringified integers and thus spread fairly evenly.

[2015-03-28 01:00] tv42 commented on #324
I'd vote for less copying, more exact documentation of the assumptions. Transaction scope seems sane.

This does make Put different from e.g. Write. But Get is already different from Read, I think that's ok.

[2015-03-28 01:32] tv42 commented on #337
Batch size of 10k speeds up Benchmark500kBatchInsert 10x.

[2015-03-28 02:14] DSpeichert opened #339 "README.md bug"
```cannot use func literal (type func(bolt.Tx) error) as type func(*bolt.Tx) error in argument to db.View```
in the example of database backups:
[code]

[2015-03-28 04:44] dtfinch commented on #337
I haven't run it yet, but I think the first call to insertSlice is missing a multiplication, causing it to insert very large batches.

insertSlice(db, keys[i\***batchSize**:(i+1)*batchSize], value)

[2015-03-28 13:10] alexsacr commented on #337
Bah, you're right @dtfinch.  One bug I'm ok with, but this benchmark is misleading.  I'm going to close out this case and pull down the post until I get it right.

[2015-03-28 13:10] #337 closed

[2015-03-28 14:11] alexsacr commented on #338
Hi Brian,

I wrote the benchmark you're referencing.  You're certainly not the only one, since I made a mistake as well.  What I describe as sequential is not actually sequential.  I've taken down the post until I correct things.

To quote the docs:

To my understanding, this means that to achieve sequential writes you'll want to look at the byte output of the keys you're inserting.

[2015-03-28 14:43] alexsacr commented on #338
To add more color:

At first glance, you'd expect a slice of keys like this to result in sequential writes:

[code]

Turns out, the byte representation of this is:

[code]
Not sequential.  These are byte-encoding *strings*, when we're looking for byte-encoded *integers*.

Using integers instead:

[code]

Results in this byte output:

[code]

And the sequential behavior we want.

[Playground link.]

[2015-03-28 14:52] bmhatfield commented on #338
Thank you for your notes, this is very helpful! In other discussions of Bolt, I had observed that the authors claim that sequential inserts see a large performance increase. Are you now seeing that behavior with our updated understanding of 'sequential'?

[2015-03-28 15:13] alexsacr commented on #338
No problem, atonement is called for :+1: .    I haven't had a chance to check yet, but I'd expect to see an increase.

[2015-03-28 17:15] benbjohnson commented on #338
@bmhatfield That's a great idea for a section in the Bolt docs. I'll add one to make it more clear. It's really helpful to get documentation feedback so thanks for posting an issue.

Alex is correct that sequential reads are based on byte sorting. One small correction is that you'll want to use `binary.BigEndian` to encode instead of little endian so that this array:

[code]

gets converted to:

[

[2015-03-28 17:22] benbjohnson commented on #337
@tv42 @dtfinch Good eyes. :) I glanced at the code yesterday but didn't catch those. I'm adding some docs on Sequential vs Rrandom Writes and on `bolt bench` per #338.

[2015-03-28 17:26] xiang90 commented on #337
@benbjohnson I ran `bench` test on my SSD local machine. There is not much performance difference if the batch-size is 1 between random and sequential.(There is huge difference when the batch size is large) Is that expected? If the batch size is 1, no matter what the change will modify the entire tree path?

[2015-03-28 17:27] benbjohnson commented on #338
There's also a primitive synthetic benchmark program built into the `bolt` command. You can do sequential or random writes with different batch sizes. Here are some example runs from my mid 2012 Macbook Pro:

#### Sequential Writes (1M inserts, 1000 per batch)

[code]

#### Random Writes (1M inserts, 1000 per batch)

[code]

#### Random Writes (100K inserts, 1 per batch)

[code]

The write perform

[2015-03-28 17:29] benbjohnson commented on #337
@xiang90 Yes, the leaf page and its parent branches all have to be written to disk along with a meta page and the freelist whenever a transaction is committed. Sequential batched writes amortize that cost per write because many of the writes share the same leaf and parent branch pages. That's why there's such a stark difference.

[2015-03-28 17:52] xiang90 commented on #338
@benbjohnson I have a related question about `batching`. I can put a WAL in front of blot to mitigate the append only B-tree write issue by reordering and batching.

But it seems that the current `DB.batch()` is not designed for this use case, which still blocks the writer. Also is it possible or suggested to read out the result before I actually commit the batched txn to bolt?

[2015-03-28 21:50] benbjohnson commented on #339
Thanks for the notice. If you PR a change I'll can merge it. Otherwise I can change it on my side.

[2015-03-28 21:55] benbjohnson commented on #338
@xiang90 `DB.Batch()` is only meant to batch. It can't do reordering since the order of operations in a batch may still matter to the application.

I'm not sure I understand your question about reading out the result before committing. What are you trying to do?

[2015-03-28 22:01] xiang90 commented on #338
It is also designed for multiple writer case. For the WAL thing, probably I will only have one writer.

For example, I have one WAL writer and multiple readers. My application writes `A=1` to WAL and WAL writer writes `A=1` into a bolt tnx and the tnx will not be committed due to batch. But I want a reader to be able to read `A=1` out of the tnx immediately, although it is not committed yet.

I ro

[2015-03-28 23:06] #339 closed

[2015-03-29 13:56] benbjohnson commented on #338
Sure, you can throw a WAL in front of Bolt but the biggest issue is that you'll add a lot of complexity. Retrieving values isn't too hard -- just check the WAL-committed value before checking the Bolt-committed value. You'll need to add tombstones for deletions though. Doing range scans becomes more complex since you'll need to iterate over the WAL-committed values and the Bolt-committed values to

[2015-03-29 17:45] timshannon opened #341 "Wait to close DB if there are open transactions"
This is probably an enhancment request, as I don't believe this behavior was unintentional, but you can open a DB, open a transaction, then close the DB.

[code]

The documention says that the value from the bucket is valid while the transaction is open, and in my mind, I see db.Close() as a kind of *safe shutdown*.

There is a timeout option already for the db Open call, why not use the same time

[2015-03-29 20:52] rakoo commented on #308
Maybe it could be possible to truncate the file up to the next power of 2 that includes all data ? i.e if the end of the file is full of empty pages, it should be quick and easy to truncate the underlying file ? The power of 2 is still important so that the file keeps a size that is consistent with when it grows as per your explanation (so when the file size is more than 1 GiB, truncate by chunks

[2015-03-29 22:56] MJDSys commented on #308
I don't think that case would occur very often @rakoo.  Instead, could bolt punch holes in the file where pages are empty?  Maybe using a special call, to avoid latency issues in the normal case?  That way an empty pages can be reclaimed by the filesystem, even if they are in the middle of the file.

@benbjohnson, would that be accepted if someone (not necessarialy me with my current time budget)

[2015-03-31 00:15] rakoo opened #343 "No flush when DB.NOSYNC == true"
When you know you're going to put many keys, it can be interesting to put the db in NOSYNC mode, push the changes, then flush to make sure everything is written, excet there is no flush method and all the `fdatasync` are hidden. Does `DB.Close()` flush the data ?

[2015-03-31 19:32] timshannon opened #344 "Possible deadlock introduced since v1.0 release"
I'm running into an issue where occasionally some deletes I'm running seem to just hang indefinitely right on the call to `tx.Bucket([]byte("bucketname")).Delete(key)`.

I have yet to build a repeatable, stand-alone piece of code, as this seems to happen after a certain amount of activity.

I can trigger activity that will cause the deadlock pretty easily though, and I've confirmed that the issue

[2015-04-01 03:01] timshannon commented on #344
Found my issue.  I was running Commit on my read only transaction, and not handling the error properly, so I was left with several open transactions.

I might send a pull request for a slight documentation change on how you need to rollback a read only transaction instead of commit it.

Thanks,

[2015-04-01 03:01] #344 closed

[2015-04-01 15:06] benbjohnson commented on #344
Thanks for diving into this and debugging the issue. Documentation PRs are always appreciated!

It might be better to panic when committing a read-only `Tx`. Technically it would break backwards compatibility but I can't imagine that there's any code out there that's intentionally committing read-only transactions.

[2015-04-01 15:09] benbjohnson commented on #341
I thought there was an open issue for this already but I'm looking back through the issues and I don't see one. This is definitely annoying since it can cause a panic. You're correct that it won't cause corruption though. I'll try to throw a PR together soon.

[2015-04-01 15:13] benbjohnson commented on #343
The `DB.Close()` doesn't flush the data. I kinda wish `NoSync` wasn't in there. You're better off batching and letting the database sync on its own.

[2015-04-01 15:13] #343 closed

[2015-04-02 18:59] chrislusf commented on #305
Waiting on this fix.

[2015-04-02 19:04] chrislusf opened #345 "add support for plan9 and solaris"
plan9 and solaris need support.

solaris support is same as #305

[2015-04-02 19:31] dajohi opened #346 "'go test' leaves test files around."
boltdb should clean up after itself, especially if tests pass.

[code]

[2015-04-12 03:24] davecgh opened #348 "panic: page 87 already freed"
I've been doing a bit of corruption testing under unexpected power off scenarios (using an external USB drive and disconnecting it midstream) and, unfortunately, I'm fairly consistently hitting unrecoverable database corruption issues due to things such as `unreachable unfreed` or `already freed`.  I understand write corruption in this scenario is expected, but the database shouldn't be left in an

[2015-04-12 05:43] benbjohnson commented on #348
Thanks for doing corruption testing. Bolt definitely should not be corrupting due to power loss.

The huge number of corrupt pages suggests to me that the pages were written out of order in the transaction. Normally bolt writes all the data pages, fsyncs, writes the meta page, then fsyncs again. That way if a failure occurs during writes to the data pages then a meta page is never written which me

[2015-04-12 05:46] benbjohnson commented on #348
Also, can you send me the script you used during testing and any steps you performed during the test? e.g. how long did the test run before you pulled the USB?

[2015-04-12 07:04] davecgh commented on #348
Thanks for a quick response.

I'm using a (quite old) Kingston DataTraveler 1GB USB stick.  I don't have a script at the moment as it was discovered as a part of a larger project I'm working on (storing bitcoin blocks on the file system while using bolt to store the metadata for their locations, headers, transactions indexing, etc).

I will put something smaller together to help track this down as

[2015-04-12 15:52] benbjohnson commented on #348
@davecgh I've been running `bolt bench` with the following parameters this morning against an Amazon Basics 16GB USB drive:

[code]

It didn't take me long to hit corruption although the corruption is strange. My meta pages show the following:

[code]

[code]

But in the data file itself it shows nothing written to page `14` or higher. It's all just zeros filled in by `truncate()`. Since the previ

[2015-04-12 16:07] xiang90 commented on #348
@davecgh @benbjohnson

I am not sure if it is just a USB issue. I did some similar testing with read disk, I found no issues.

Can you reproduce the issue on aws disk? @benbjohnson

[2015-04-12 17:59] davecgh commented on #348
@benbjohnson I have been running with write caching disabled already.  The issue still periodically happens.  I was able to reproduce it with the bench tool as well (although I had to add the `--path` option for the bench sub-command as I don't see that on master).

[code]

[2015-04-13 19:52] vincent-petithory opened #349 "Deleting a non-existing key throws ErrIncompatibleValue"
I'm not sure if this is really a bug, but I've been unable to explain myself the following behavior.

In a bucket, when trying to delete a non-existing key, which has a common prefix with a subbucket, the cursor in https://github.com/boltdb/bolt/blob/master/bucket.go#L315 seems to seek mistakenly on the subbucket, thus throwing a `ErrIncompatibleValue`.

Here's a failing test illustrating this:

[

[2015-04-14 12:05] mcuadros opened #350 "Allowing db files under 1MB"
I am using bolt as storage engine for [raa](https://github.com/mcuadros/go-raa), since is a general purpose archive format, in some cases the contained files could be less than 1MB.

I wish know if this bootstrapping size can be configured on some way per database, allowing db files under 1MB. This change could have performance impact, due to the continues growing mmap?

Thanks!

[2015-04-20 02:51] #325 closed

[2015-04-20 02:51] benbjohnson commented on #325
CLI rewritten in https://github.com/boltdb/bolt/pull/352.

[2015-04-23 04:35] xiang90 opened #353 "bolt bench panics"
[code]

[2015-04-23 04:49] xiang90 opened #355 "random writes performance decreases significantly as the number of keys in the database increase"
I use the same batch-size but different total number of keys to run the benchmark.
I notice
[code]
So I set the batch-size to 1000, which is fairly reasonable.

I still found some unexpected results here.

[code]

I understand that as the number of keys grows the height of B+tree increase, so bolt might have more fsync per write. But I do not expect about 10x decrease from 6us to 71us.

Is this no

[2015-04-23 05:08] xiang90 commented on #355
But interestingly, if I set --batch-size to 1, the performance decrease is very reasonable.
[code]

After doing this, I realized that previous significant decrease might be caused by inefficient batching? The more keys bolt have the less chance that the batched changes falls into the same os page? Bolt is not able to batch multiple page sync into one syscall?

[2015-04-23 23:15] akolb1 commented on #274
Here is a suggested fix for etc:

<pre>
--- /dev/null
+++ b/pkg/fileutil/lock_solaris.go
@@ -0,0 +1,95 @@
+// Copyright 2015 CoreOS, Inc.
+//
+// Licensed under the Apache License, Version 2.0 (the "License");
+// you may not use this file except in compliance with the License.
+// You may obtain a copy of the License at
+//
+//     http://www.apache.org/licenses/LICENSE-2.0
+//
+// Unless require

[2015-04-24 20:09] thatguystone opened #357 "Cursor delete fails for puts in same transaction"
This one is probably best described with a (failing) test case:

[code]

It should delete all of the inserted keys, but instead, the following keys remain: `1, 3, 5, 7, 9`.

This also seems to be the case when there's a pre-existing set of keys and a single key is put (for example):

[code]

[2015-04-26 20:57] oknoorap opened #358 "panic: runtime error: invalid memory address or nil pointer dereference"
I'm using ubuntu, I got error while running it:

[code]

my code:
[code]

[2015-04-26 21:10] benbjohnson commented on #358
Is the "posts" bucket non-nil?

[2015-04-27 05:06] oknoorap commented on #358
sorry it's my bad

[2015-04-27 05:06] #358 closed

[2015-04-27 05:11] benbjohnson commented on #358
No problem! Let me know if you have any other questions.

[2015-04-27 05:29] oknoorap opened #359 "Hangs on linux ubuntu but not on windows 7"
It's weird, on windows my code works perfectly, but on ubuntu it wil hangs up for inifinite time,
My codes:

[code]

[2015-04-27 05:31] oknoorap commented on #359
or it will be timeout:
[code]

[2015-04-27 15:26] benbjohnson commented on #359
You'll need to close the database before you reopen it. The defer on the first close won't execute until the end of main() so the second Open() executes before the first db is closed.

[2015-04-27 15:27] benbjohnson commented on #359
The reason it doesn't hang on Windows is because Windows doesn't have advisory locking so it won't block. However, it's not safe to execute two DB instances of the same file concurrently.

[2015-04-27 15:27] #359 closed

[2015-04-27 19:10] oknoorap commented on #359
I know, but I need it when use in different file, e.g when I'm working on different routers,

any solution?

[2015-04-28 18:12] #353 closed

[2015-04-28 18:52] xiang90 commented on #355
@benbjohnson

I got the svg for profiling at https://github.com/xiang90/boltp.

[2015-04-28 20:18] alaska commented on #341
Chiming in to suggest that Close() should wait on outstanding Batch() calls, too.  Seems like a ```waitgroup``` would be a perfect way to handle this.

[2015-04-28 20:33] benbjohnson commented on #355
Hmm, the SVG between the 100k and 5M are almost identical. It doesn't look like there's something weird going on.

I think the issue is that random writes in batches of 1K across a 10K key dataset are going to cause multiple writes to occur per page whereas 1K writes across a 5M key dataset will only have 1 write per page.

With the default `bolt bench` parameters, you have 8 byte keys and 32 byte

[2015-04-28 20:33] #355 closed

[2015-04-30 04:53] alaska commented on #357
This may have something to do with the following (from the [docs on ```tx.Cursor```](https://godoc.org/github.com/boltdb/bolt#Cursor)):
[code]
The following code, for example, succeeds:

[code]

[2015-04-30 06:07] alaska commented on #357
My first thought when looking at this was the bit in the docs about cursors:
[code]
So, I changed ```c.Next()``` in your example to ```c.First()```, and it passed:
[code]

But then, I split it into two updates:

[code]

And it passed.  Now I am somewhat confused.  Curious to learn what's going on.

[2015-04-30 15:59] benbjohnson commented on #357
@thatguystone thanks for submitting the issue. I've been out of town and couldn't respond. @alaska is correct with his reference to the docs. The issue is that the `Tx` doesn't track its cursors. When you update pages via `Put()` or `Delete()`, new in-memory pages get built but the cursor is still pointing to the old mmap'd pages.

When you call `Cursor.First()`, the cursor traverses from the buck

[2015-04-30 16:04] benbjohnson commented on #357
Oh, sorry, I misread the code. I didn't realize you were already using `Cursor.Delete()`.

[2015-05-01 01:36] tv42 opened #360 "ponies: Lower write amplification by buffering writes in parents"
This is interesting, and I'd kinda love to be able to say I want to write this code, but I can't make that promise. And it's probably a bunch of work. I still wanted to write this down here, if for nothing else than to inspire others.

There's several variations of the underlying ideas, e.g. Fractal tree indexing / Bε-trees / buffered trees etc. They each have own unique little twists, like how ex

[2015-05-01 20:10] benbjohnson commented on #360
@tv42 I like the idea of implementing more complex indexing but I think that would become a fork of Bolt. Bolt is at a point of stability where I'd rather keep it as-is and make a new project that optimizes for special cases.

[2015-05-01 20:24] benbjohnson commented on #284
@tv42 Is the `Truncate()` necessary in this change? Shouldn't the `fsync()` be enough to flush the metadata? I'm seeing really long wait times on `Truncate()` sometimes on XFS.

[2015-05-01 22:23] tv42 commented on #284
@benbjohnson The truncate is the part that resizes the file; if you skip that, the file remains small until you write to it, and since data is only synced with `fdatasync`, that doesn't need to write the new size -> after a crash, the part that was after the old size of the file may be lost. The delay you're seeing is probably xfs actually allocating space for the file, so it can later guarantee w

[2015-05-02 11:01] mbertschler opened #361 "Best way to implement replication"
What would be the best way to implement replication for bolt? I am thinking mostly about master/slave replication, where in the event of a server failure the second machine can take over without any downtime.

I searched for the available functions and found `func (tx *Tx) OnCommit(fn func())` but I would not know which keys have changed so I could replicate this changes to the slave. Currently im

[2015-05-03 20:48] davecgh opened #362 "Provide safe method to delete a nested bucket during iteration"
Currently, there is no safe way to delete buckets during iteration.  This is because it's not safe to delete/add new keys or buckets during `ForEach` iteration and there is no `DeleteBucket` method on a `Cursor`.  As a result, code to remove all nested buckets and keys in a given buckets ends up looking like the following:

[code]

I would suggest either adding a `DeleteBucket` method to the Curso

[2015-05-04 16:56] benbjohnson commented on #284
@tv42 Thanks, my question was dumb now that I read it again. :)

I'm going to add a `DB.NoTruncate` flag to skip truncation. It'll be `false` by default but turning it on will avoid the truncation step. I'm still not able to figure out why xfs is hanging for me. It's taking minutes with no events out of `strace` or any io stats tools. The flag will also allow bolt to not allocate space up front wh

[2015-05-04 16:59] benbjohnson commented on #284
/cc @mkobetic @bouk

[2015-05-04 17:09] benbjohnson commented on #361
@mbertschler Fault tolerance / HA is a much bigger topic and depends a lot on your requirements. You can get strong consistency by using a consensus protocol (e.g. Paxos, Raft) but there are also other approaches that use weak consistency. It's a fairly complicated problem so unfortunately the only suggestion I can make is to read some research papers. :-/

https://github.com/papers-we-love/papers

[2015-05-04 17:09] #361 closed

[2015-05-06 15:20] mbertschler commented on #361
@benbjohnson thank you for these tips. This interactive guide http://thesecretlivesofdata.com/raft/ makes it pretty easy to understand.

[2015-05-07 16:13] xiaost opened #364 "Add db.Sync() api"
hello, @benbjohnson
In my project, I need something like "sync every second"
boltdb only provides `db.NoSync` option,
Eh...I can do it by committing an empty tx with `db.NoSync = true` every second :cry:
It looks good to add `db.Sync()` api, right?

[2015-05-07 21:44] benbjohnson opened #365 "Sync fill percent and page overflow."
## Overview

As discovered by @evanphx, if you write data that exactly fills a page and you set `FillPercent` to `1` then a empty overflow page will be created for each full leaf page. It seems like the page overflow check is doing a `>= pageSize` check when it should be doing a `> pageSize` check.

_Note: This is a rare bug since most users don't adjust `FillPercent` and even fewer of those users

[2015-05-08 19:16] benbjohnson commented on #364
Added `DB.Sync()` to https://github.com/boltdb/bolt/pull/366. Can you take a look and verify that's what you're looking for?

[2015-05-10 08:58] xiaost commented on #364
Yeah, exactly what I need. :+1: :laughing:

[2015-05-10 15:00] #364 closed

[2015-05-10 15:01] benbjohnson commented on #364
Cool, it's merged. :+1:

[2015-05-13 16:13] benbjohnson opened #369 "Validate data file before opening"
## Problem

As mentioned by @br0xen on the #boltdb channel on Gopher Slack, opening a file that is not a Bolt database will cause the size to increase. If the file specified is not a Bolt database then this will likely corrupt the file.

## Fix

To fix the problem, a validation function should be added to Bolt to read the meta page from _existing_ files to validate that the `meta.magic` is equal t

[2015-05-13 17:36] pindamonhangaba commented on #272
This also happens when trying to open a database on a shared vagrant folder, with a Windows host.

[2015-05-15 19:51] icoman opened #373 "Recursively display nested buckets"
Hello!
I try to recursively display nested buckets on boltdb and it apears that is not working.
I have same problem on both Windows and Linux, both x86_64.
It may be a limitation of boltdb, a bug or is my fault?
The problem is I don't get all buckets.
Thank you, here is my test code.

[code]

Running the program will display

[code]

[2015-05-20 22:16] benbjohnson commented on #341
Sorry for the delay. Added support for a blocking close here: https://github.com/boltdb/bolt/pull/377

[2015-05-20 22:17] benbjohnson commented on #341
I didn't add `Batch()` blocking because I wanted to make sure I got the basic use case working first.

[2015-05-21 13:20] mschoch opened #378 "deadlock with long-running read-transaction and write transaction on same go-routine"
I first observed this in a bleve unti test failure.  It seems to occur when you have a long-running read-only transaction and a write transaction on the same go-routine.  I don't bleve actually needs this to work on a single go-routine, but it was written that way in a test for reader isolation.  The noteworthy part is that used to work (up until a450f843ee57645db062a4fe472c4509a7a1c7a2 if I used

[2015-05-21 15:06] #341 closed

[2015-05-21 15:26] mschoch commented on #378
It looks to me like the issue is that long readers *might* block writes.  The *might* part has to do with the write fitting into existing allocations or requiring additional allocations.  With the previous default sizes, no new allocations were required, so it worked fine.  With the new smaller defaults, the write requires additional allocation, and the write needs to acquire a lock already held b

[2015-05-21 15:41] benbjohnson commented on #378
Hey Marty, the issue is that Bolt periodically re-mmaps the data file as it grows and the writer needs to obtain an exclusive lock on `mmaplock` to do so. Readers obtain a shared lock on the mmap so it can't be remapped while a read txn is in progress. If you have a read txn running in the same goroutine as a write txn while the writer is re-mapping then you'll get a deadlock.

The issue shows up

[2015-05-21 15:52] benbjohnson commented on #378
@mschoch OK, here's the updated docs. Let me know if this is clear:

https://github.com/boltdb/bolt/pull/379

[2015-05-21 15:54] #378 closed

[2015-05-21 15:54] mschoch commented on #378
Thanks, yeah we don't rely on this property in actual code, we just exploited it for simpler testing of reader isolation.

[2015-05-25 08:22] xyproto opened #380 "[support request/code review] Efficient use of Bolt"
Hi,

I'm using Bolt in [simplebolt](https://github.com/xyproto/simplebolt/blob/master/simplebolt.go). However, being new to Bolt, I am not fully confident that Bolt is being used efficiently. If someone could just look over the code and check if the use is reasonably efficient, that would be great.

Best regards,
   Alexander Rødseth

[2015-05-26 14:23] alasdairrr commented on #305
Hi Ben,

If I were to supply you with a SmartOS VM (illumos based distro) in our cloud would that help with this issue? We're keen to use this on SmartOS...

Cheers,

Alasdair

[2015-05-26 15:27] benbjohnson commented on #305
@alasdairrr Yeah, that'd be great. I burned about 4 hours trying to get it running in Vagrant and I haven't had the time to invest to try again. I don't think the fix itself is that hard so a VM would be a huge help.

[2015-05-26 16:17] benbjohnson commented on #380
Overall the usage looks good. Two suggestions (after taking a quick glance):

- Be sure to check errors from `View()` and `Update()`. For example, there's a missing error check in `NewList()`.

- It's more efficient to use `binary.BigEndian.PutUint64()` instead of `fmt.Sprintf()` to represent ids. For one thing, it's much faster to encode & decode. Second of all, when you use a stringified represe

[2015-05-26 16:17] #380 closed

[2015-05-26 17:02] gdamore commented on #305
I’m super sorry I’ve not had time to work on this.  I switched to goleveldb for my immediate needs, and haven’t had cycles to go back and fix this.  But doing so is important to making some applications, such as Consul.io, work on illumos.  Its been on my TODO list for a while now, but I’m completely swamped.

	- Garrett

[2015-05-26 22:23] benbjohnson commented on #305
No problem. Hopefully it'll be pretty straightforward once I get a VM up and running.

[2015-05-26 23:52] xyproto commented on #380
Thank you! I really appreciate it. Additional error handling is now in place and I'll be looking into your suggestion to use `binary.BigEndian.PutUint64()` instead.

[2015-05-28 07:57] alasdairrr commented on #305
Hi Ben,

I've created the VM, bolt.cloud.ec - could you let me know your ssh public key? My email is al at everycity dot co dot uk

Cheers!

[2015-05-29 13:06] rgeronimi opened #382 "Failed commit does not always rollback transaction"
When managing manually a transaction, there is at least one case where a tx failed commit (error during commit) does not rollback the transaction automatically: if the transaction is not writable.

In many other cases, the transaction is rolled back automatically, e.g.: if a page could not be allocated/written to the free list, or if dirty pages could not be written to disk.

This inconsistency ma

[2015-05-30 07:48] icoman commented on #373
I found my mistake, thanks to pull request https://github.com/boltdb/bolt/pull/381

An working function to recursively display nested buckets:

[code]

[2015-05-30 07:48] #373 closed

[2015-06-08 05:45] raunakspecial1994 opened #385 "Using the same db in function call"
I know that Bolt obtains a file lock on the data file so multiple processes cannot open the same database at the same time. Opening an already open Bolt database will cause it to hang until the other process closes it.
But what if there is a function call and it is accesing the same database and doing a read-write as well read-view operation on it.
how can i do this ?
Is there any method in which

[2015-06-08 10:10] raunakspecial1994 opened #386 "Connection Pool"
Bolt obtains a file lock on the data file so multiple processes cannot open the same database at the same time. Opening an already open Bolt database will cause it to hang until the other process closes it.

As this is the case,is there any connection pooling concept like various clients connecting and accessing the database at the same time.? Is this possible in boltdb?

[2015-06-08 20:26] benbjohnson commented on #386
Bolt is meant to exist at a lower level than network protocols. LMDB provides multi-process database access but at the cost of additional complexity. What's your use case?

[2015-06-08 20:26] #386 closed

[2015-06-09 04:32] raunakspecial1994 commented on #386
There are various unique id and all are bidding a amount at a rate of milliseconds and i have to store it and update their current spend(spend till that particular time) as soon as possible.
The schema i am using is like -making a bucket for every unique id and storing the time as the key and value as the bid.
and then making a common bucket for all unique and updating their current spend in that

[2015-06-09 20:00] benbjohnson commented on #386
You should be able to get that kind of performance if you use `bolt.DB.Batch()`. It would all need to run through a single process though.

[2015-06-11 17:01] benbjohnson opened #390 "Document Batch() guarantees better"
## Overview

Per @kellabyte's suggestion, the `DB.Batch()` method needs better documentation about the guarantees it provides -- specifically that it is not serializable because goroutines do not have an ordering guarantee.

### References

The full conversation can be found here:

The specific request for documentation:

[2015-06-14 12:29] calmh opened #392 "Clarify transaction concurrency"
The readme says:

However it seems transactions are protected by an RWMutex. That means it's impossible to open a write transaction (from any goroutine) while there is a read transaction still open and vice versa; also opening new read transactions is blocked while a write transaction is waiting to begin. Am I misunderstanding how this works?

[2015-06-14 15:16] MJDSys commented on #392
From what I saw of the discussions about this, there is no locking between read and write transactions, as long as the database file doesn't need to grow.  Taking a quick glance at the code, this appears to be the case as the write transactions don't pick up any exclusive locks that the read transactions do.

There is a Mutex (not a RWMutex!) called rwlock, but that is only taken in the write path

[2015-06-14 15:39] benbjohnson commented on #392
There are only a couple places where locks are used:

1. When beginning a transaction, the `DB.metalock` is used to add the new `Tx` to the list of currently open transactions and to copy the current meta page to the `Tx`.

2. When closing a transaction, the `DB.metalock` is used to remove the `Tx` from the list of currently open transactions.

3. When a read-write transaction begins it obtains th

[2015-06-14 19:54] 6D65 opened #393 "HasSuffix not working during the key scans"
Hi,

I've stumbled upon this strange behaviour while using the library. There's the example in the documentation, that shows how to iterate all the keys in the db and find ones with a certain prefix.
[code]
I've tried to search by suffix based on this example. And it just won't work.
[code]

So i've tried to debug this and did a search by all the keys, and checked all the results. And there were i

[2015-06-14 20:12] calmh commented on #392
I'm clearly missing something. To demonstrate what I'm talking about, here's a test case that tries to start a write transaction on one goroutine while a read transaction is alive on another goroutine. It deadlocks on the RWMutex at https://github.com/boltdb/bolt/blob/master/db.go#L210. How should I be doing this?

https://gist.github.com/8dd3c9548677b12cadc3

[2015-06-14 20:18] calmh commented on #392
Actuallly, your last paragraph

sounds like what I see, but I don't get the part about "in the same goroutine" - it sounds and seems like no write transactions can start while any read transaction is ongoing?

[2015-06-14 20:42] calmh commented on #392
I guess my test case is a case of a read transaction depending on a write transaction, as stated in the README. However this is the case in less trivial situations that I don't know how to avoid. For example, in my actual use case, two devices exchange index information when they connect over the network. Sending this index information is done by iterating over a bucket inside a `db.View(...)`, pa

[2015-06-14 21:45] benbjohnson commented on #392
You're correct that it's better to say, "read transaction depending on a write transaction". There have been several issues posted where people had the read and write transactions in the same goroutine so it'd been easier to phrase it in that context.

As for your use case, wouldn't the devices be on separate machines and therefore separate Bolt instances so it wouldn't block?

Also, can the `View

[2015-06-14 22:51] calmh commented on #392
But that's just the thing - the inability of one goroutine to start an `Update()` means it can't receive data, which means the other machine can't send more data, which means `View()` on that machine will never terminate, which means no `Update()` can run on that machine, which means `View()` on the first machine will never terminate. :)

But disregarding my scenario, there seems to be some confus

[2015-06-15 17:06] benbjohnson commented on #392
The `mmaplock` on `db.go#210` is only obtained when the mmap is remmaped. That happens the first time the data file is opened and then every time the data file size doubles (up until 1GB and then the DB grows by 1GB increments). Most `Update()` calls will not have to remap so in general read-only and read-write calls only lock the `metalock` briefly when they start and finish.

The problem is that

[2015-06-15 17:47] calmh commented on #392
I'm not sure I understand what it takes to re-mmap the file then. For example

[code]

never reaches the panic. I can't seem reproduce a case where even an empty update can succeed with deadlocking when there's a read in progress?

[2015-06-15 17:49] #392 closed

[2015-06-16 22:32] dtfinch commented on #393
Keys are sorted, and Seek() goes to the first key matching the prefix. The loop exits on the first result not matching the suffix. Unless all your keys with that suffix are contiguous in the sorted list, and having the same suffix as a prefix, you can't expect that for() loop to work.

Finding all the matching suffixes would require a slower full scan (or changing your keys, or using another bucke

[2015-06-16 22:46] benbjohnson commented on #393
@dtfinch is correct, if you use stringified numbers then they'll be sorted in the bucket like this:

[code]

If you want to store a numeric value as a key and filter it then I'd recommend using `binary.BigEndian.PutUint64()`:

[code]

Then the number will always be in order in your cursor. Also, it's important to note that little endian doesn't work as the byte order is inverted and Bolt sorts on

[2015-06-16 22:46] #393 closed

[2015-06-17 10:17] spx opened #394 "select from id >= 5 and <= 10"
how can i do that? :) \\∞

[2015-06-17 14:44] benbjohnson commented on #394
You can find an [example of a range scan in the README](https://github.com/boltdb/bolt#range-scans). It ranges over dates but integers work the same way. You'll need to make sure you use something like `binary.BigEndian.PutUint64()` to encode your integer keys though.

[2015-06-17 14:44] #394 closed

[2015-06-17 14:47] spx commented on #394
range scan - yes. but how about binary tree for auto increment seq?
1 2 3 4 5 10 25 \\∞
id >= 6
or only one way are full table scan while i find my id and then limit \\∞

[2015-06-17 15:04] benbjohnson commented on #394
The `Cursor.Seek()` uses Bolt's b+tree to quickly move to the beginning. You'll need to check on every subsequent key if it is less than your max value in your range.

[2015-06-17 19:07] 6D65 commented on #393
Cool, thank you.

I'm not yet using numeric values. Will keep this in mind. For now will do as suggested and go through all the keys each time and find the ones I need. Will try to think of something better if there will be performance issues.

[2015-06-18 07:13] raunakspecial1994 opened #395 "Batch Operations in Boltdb"
how can i use Batch operations in boltdb  ?
Any Working example.

[2015-06-19 06:06] #395 closed

[2015-06-19 15:00] benbjohnson commented on #395
@raunakspecial1994 `DB.Batch()` works the same as `DB.Update()`. Just pass it a function that'll be executed in the context of a transaction. Bolt handles grouping multiple functions together into a single transaction.

The one caveat is that you have to call `DB.Batch()` from multiple goroutines for it to be effective (such as from multiple requests on an HTTP server). It's a blocking call so cal

[2015-06-24 16:46] kalopsia commented on #273
Great! Thanks for the question and answer. I have the same issue) @benbjohnson I think it would be nice to add this information in the comments of `func (b *Bucket) ForEach(..)` declaration. Unfortunately, it isn't obvious(

[2015-07-03 23:47] caquino commented on #305
Hi, any updates on this issue? I'm also interested in running consul on openindiana/illumos.
Thanks

[2015-07-05 17:03] benbjohnson commented on #305
@caquino I've been slammed for time lately but I'm planning on working on this after GopherCon (July 7 - 10th).

[2015-07-08 21:52] EtienneBruines opened #396 "Renaming, moving, copying Buckets"
Hi,

I was wondering what the best practice is with (buckets):
* renaming;
* moving;
* copying;

I want to "simply" rename a bucket, but there was no function for that. I tried moving it, but that didn't have a function either. Then I wanted to copy the bucket (and delete the original afterwards), but that didn't work as planned.

I attempted to do something, but it has several limitations:
* stat

[2015-07-09 19:31] sebtzm opened #397 "Transaction Commit: 'fatal error: all goroutines are asleep - deadlock!'"
In my project I have code that deletes key from bucket, when Commit is called it stays and never returns.

I have discovered that it remains stuck in function:
_func (db *DB) mmap(minsz int) error_
of db.go, when it is called:

db.mmaplock.Lock()

Bolt file **db.go**

     // mmap opens the underlying memory-mapped file and initializes the meta references.
     // minsz is the minimum size that th

[2015-07-11 11:27] sebtzm commented on #397
I tried to reproduce error.
Mistakenly I'm going to delete a key inside a View transaction. Ok I know that is my fault.

Following code is a sample that I have written for reproduce the error.
In this case I have: **'fatal error: all goroutines are asleep - deadlock!'**
always at same line *'db.mmaplock.Lock()' (bolt/db.go:213)*

Bolt should explicitly return error at commit.

This sample code jus

[2015-07-15 00:57] cep21 commented on #298
Hi,

Is there any progress here?  I have a large (16GB) file and we eventually run into the same issue.  Our error output:

[code]

[2015-07-15 03:04] benbjohnson commented on #298
@cep21 Thanks for pinging me on this issue. It got lost. Sorry about that. I'm looking into it now.

[2015-07-15 18:21] cep21 commented on #298
My production servers consistently return "page ***: unreachable unfreed" after running for a few days when I do a check at the beginning of any restart.  My workload is millions of small key/value pairs inside a single bucket that is mostly read heavy.  Is this an innocuous error?  I never get errors while running the database, just when restarting and doing a fresh Check()

[2015-07-15 19:45] benbjohnson commented on #298
@cep21 It's not a great error but it's likely not hurting anything if you're not seeing any other errors. It means that the database is missing a reference to that page and it's probably getting lost off the freelist for some reason so you simply can't reclaim it. I can reproduce the issue with 5.6M random inserts with 100K batches:

[code]

It takes 3m for each run so narrowing down the exact cod

[2015-07-15 19:54] cep21 commented on #298
Cool.  As an aside, we've tested out 1.5beta1 on our use of bolt and consistently show benchcmp results of -20% to -50% on ns/op for basic usage of bolt on 1.5beta1.  I haven't dug into why, but bolt appears much faster in 1.5

[2015-07-15 20:57] benbjohnson commented on #298
That's great to hear. Bolt uses a fair number of objects for the in-memory representation before it commits to disk so it could just be the new GC.

[2015-07-15 22:02] xiang90 commented on #298
@cep21 1.5 would set GOMAXPROCs to the number of your cores instead of 1. I guess that helped to "improve" the performance a lot.

[2015-07-15 22:04] cep21 commented on #298
I ran the 1.4.2 and 1.5 tests with the same number of cores: 8 (which is correct for my test machine)

[2015-07-16 16:01] aviau opened #399 "Bolt tagging"
Hello!

Sorry if this is not an issue.

Are you still tagging bolt? The last release dates Nov 27, 2014

[2015-07-16 17:46] benbjohnson commented on #399
I haven't been tagging Bolt although I should probably start doing it again. I'm starting to work through the issues again so once I get some of those fixed then I'll tag a v1.1.0 release.

[2015-07-16 20:09] scotthelm commented on #272
Using Vagrant on a Mac host with a linux virtual, I experienced the same issue. I found that using nfs for the synched folders worked well.

    config.vm.synced_folder local_dev_dir, "/my/go/path", nfs: true, map_uid: 0, map_gid: 0

[2015-07-19 20:29] pannon commented on #305
@caquino would be great to have this fixed as Consul.io fails to build on SmartOS/Illumos. If you still need a VM to test let me know.

[2015-07-22 03:30] nicpottier commented on #348
I've also run into this stress testing.. but in my case I'm going against an SSD on OSX. What can I provide to help debug? I still have the db, but it is 2 gigs..

[2015-07-22 13:05] nicpottier commented on #298
Just adding myself here, as I've seen similar behavior with current bolt version.  Can try testing my workland against 1.5, but I don't actually see a branch for it. Where does it live?

[2015-07-24 00:25] lmars opened #400 "CLI removed commands"
I have found the `buckets`, `keys` and `get` commands quite useful in the past, but seems like they were removed in d0e8a99, any particular reason why? Would you be open to reintroducing them?

[2015-07-24 14:01] benbjohnson commented on #400
It was mainly removed because the functionality was a bit half-assed. I'm open to re-adding the functionality though.

[2015-07-25 13:03] empirefox opened #401 "invalid memory address or nil pointer dereference"
I got an error, but cannot find the answer.
[code]

here is my code
[code]

The unit test just work right.
[code]

[2015-07-25 13:57] bruston commented on #401
Are you sure that the bucket you're trying to access exists? If it doesn't, tx.Bucket() will return nil, so calling the Get method will cause a panic like this.

https://godoc.org/github.com/boltdb/bolt#Tx.Bucket

[2015-07-25 14:19] empirefox commented on #401
Yes, i am sure the bucket is exist. It seems that it panic before tx.Bucket(name) be called.
Thanks for your quick response!

[2015-07-25 14:26] empirefox commented on #401
Every time after bolt.Open(), i will check the existence with this
[code]

[2015-07-25 15:40] empirefox commented on #401
Sorry, My fault. I past the *bolt.DB holder to an enclose as struct not ptr.
In unit test i always use ptr , so there is no problem when testing.
Thanks buddy!

[2015-07-25 15:40] #401 closed

[2015-08-03 16:53] libreoscar opened #404 "Feature request: nested transaction"
Will Bolt support nested transaction (which is available in LMDB)?

[2015-08-03 17:09] benbjohnson commented on #404
There's no plans to support nested transactions. It seems to be a relatively little used feature (in LMDB and other DBs) and I haven't seen enough of a demand to warrant the development, support, and additional complexity.

[2015-08-03 17:09] #404 closed

[2015-08-03 18:21] chrsm commented on #397
Hi sebtzm,

Currently, at the "top level" of your code, you are getting a timeout because `defer DB.Close()` does not execute until `main` returns.

Furthermore, there's a deadlock as you're running `deleteKey` (which executes in the context of a writeable transaction) inside of a read-only transaction (`iterateOverBucketAndKeys`). Nested transactions are not supported in BoltDB - see #404.

[2015-08-08 10:15] sebtzm commented on #397
Hi chrsm,

Yes, I understand that it was my fault.

Maybe BoltDb should return something like:

     errors.New("Write not allowed in read-only transaction")

even just to avoid that users like me have to report this issue ;-)

[2015-08-09 20:18] chrsm commented on #397
Well, Bolt does actually do that (see: https://github.com/boltdb/bolt/blob/master/bucket.go#L277) but you're (basically) attempting to nest transactions - which aren't supported. The writing transaction is blocked until the read is done, but as the read depends on the write finishing, you get a deadlock.

In other words, there's no way for the update (`deleteKeys`) to start executing and no way fo

[2015-08-09 20:19] chrsm commented on #350
@benbjohnson Looks like this one can be closed with #351 fixed.

[2015-08-09 21:01] chrsm commented on #385
Read-only transactions can execute simultaneously, but only one writable transaction can run at a time. The point of that is you should not have any writable transaction *depend* on a read-only transaction (which would result in a deadlock). You can, of course, execute a writable tx and execute a read tx at roughly the same time - provided they don't depend on each other, you'll see the new, writt

[2015-08-10 08:07] sebtzm commented on #397
In function ```deleteKeys``` var ```tErr``` is **never** equal to ```ErrTxNotWritable```.

[2015-08-10 16:00] chrsm commented on #397
@sebtzm Right, because in `deleteKey` (when it actually runs) it's a writable transaction. But you cannot run the `deleteKey` function inside of the read-only transaction, as it must wait until the read-only one is complete - and the read-only one is *waiting* for some kind of return from `deleteKey`. So you get a deadlock. :)

[2015-08-10 20:41] benbjohnson commented on #350
:+1:

[2015-08-10 20:41] #350 closed

[2015-08-11 11:17] sebtzm commented on #397
It is perfectly clear that I can not write in a read transaction. I have already fixed my code two week ago.
The code posted is deliberately wrong to show that I do not receive any error in ``tErr``.
I expected to receive an error, now I kwnow that can have only fatal deadlock.
Thank You.

[2015-08-11 20:44] cep21 opened #406 "Large CPU usage in (*pgids).Less"
Hi,

I'm using bolt on a large read heavy database that is currently around 8GB in size.  When I CPU profile my go application I see the following:

[code]

Is there something I can do or some tweak I can make to reduce the time spent sorting pgids?

[2015-08-11 21:01] benbjohnson commented on #406
@cep21 What commit are you using? @mkobetic added a performance fix for freelist updates in https://github.com/boltdb/bolt/pull/391.

[2015-08-11 21:17] cep21 commented on #406
Doeh.  Forgot to include that as well.  I am using 2c04100eb9793f2b8541d243494e2909d2112325.  We're doing a code push this week and I'll update to 04a3e85793043e76d41164037d0d7f9d53eecae3.  I'll update the task with any performance changes we see then.

After reading the diff, it's my understanding I won't need to delete and repopulate my old bolt database to see the improvement.  Is that correct?

[2015-08-11 21:20] benbjohnson commented on #406
Yes, that's correct. The file format for bolt is fixed and won't change in the future either. It should always be safe upgrade to later commits of bolt.

[2015-08-13 14:55] artyom commented on #324
I would also like this to be more clearly specified in `Put` function documentation — this would have saved me at least an hour of figuring out what's happening. It would be great if documentation warn against reusing byte slice passed to `Put` so we can avoid [usage attempts like this one](https://gist.github.com/artyom/805ae04bfa4ae2f8df10):

[code]

[2015-08-13 18:45] funny-falcon commented on #406
look to #408 , i've made custom sort for pgids for the same issue

[2015-08-14 16:23] chrsm commented on #324
Only the key is copied, the value is not currently copied:

    ...
    func (b *Bucket) Put(key []byte, value []byte) error {
    	...

    	// Move cursor to correct position.
    	c := b.Cursor()
    	k, _, flags := c.seek(key)

    	// Return an error if there is an existing key with a bucket value.
    	if bytes.Equal(key, k) && (flags&bucketLeafFlag) != 0 {
    		return ErrIncompatibleValue

[2015-08-15 01:18] akolb1 commented on #305
https://github.com/golang/go/issues/11113 discusses mmap fixes for golfing
For locks I have a patch that works:

[code]

[2015-08-15 01:18] akolb1 commented on #305
The patch requires change in the test because the lock test fails on Solaris. This is caused by the fact that fcntl-based locking doesn't protect within the same pid.

[2015-08-18 18:41] mauleyzaola commented on #204
I am facing this issue, which as far as I understood has to do with the same thing @calmh was having

[code]

The error happens on the Get function. This is the initial stack which looks similar from @calmh 's

[code]

Funny thing is, before coding that above I did some testing with BoltDb and they have no issues whatsoever. This is the code and you can see the values are being assigned within the

[2015-08-25 01:23] #274 closed

[2015-08-25 01:23] #305 closed

[2015-08-26 11:16] ascotan commented on #272
BTW I ran into this issue on vagrant with bolt.  The problem is that a mmap'ed file can be run out of a shared folder with the options to mmap are MAP_SHARED.  strace reports the following:

[code]
See here: http://man7.org/linux/man-pages/man2/mmap.2.html and here: http://stackoverflow.com/questions/18420473/invalid-argument-for-read-write-mmap

Basically you can't run a boltdb file out of a shar

[2015-08-26 21:12] yichengq opened #412 "put doesn't return error when putting nil"
[code]

I would expect it to return error based on its comment `Returns an error if the bucket was created from a read-only transaction, if the key is blank, if the key is too large, or if the value is too large.`

[2015-08-26 22:16] benbjohnson commented on #412
IIRC, nil is converted to an empty slice in Put(). Returning nil is reserved for non-existent keys whereas putting nil creates a blank key. It probably shouldn't allow a nil value but I don't want to change it because of backwards compatibility.

[2015-08-27 02:53] chrsm commented on #412
`cloneBytes` returns an empty slice when a nil value is passed to it - so Put is fine.

Based on the comment, specifically, it's not breaking expected behavior - it says nothing about the minimum size of a value. For what it's worth, the caller should be responsible for ensuring it's writing actual data. For all boltdb knows, I could just want to reserve a key - especially if passing nil is functi

[2015-08-27 04:12] benbjohnson commented on #412
Well said. :)

[2015-08-27 04:12] #412 closed

[2015-08-28 21:25] cep21 commented on #406
Using 04a3e85793043e76d41164037d0d7f9d53eecae3 removed the sort from pprof top30!  Awesome!

[2015-08-28 21:25] #406 closed

[2015-08-28 21:37] cep21 commented on #298
The result I'm observing of this bug is an unnatural growth in the size of the on disk cache, causing increased CPU and page throttling doing reads.  This is probably a reasonably important issue for long running servers.

[2015-08-28 21:41] xiang90 commented on #298
@cep21 Have you tried to find the root cause?

[2015-08-28 22:03] cep21 commented on #298
I haven't spent a large amount of time.  My current solution is to rebuild the database entirely on a weekly cadence.

[2015-09-09 12:51] nmabhinandan opened #415 "Compression and encryption support"
How about..
* 256-bit AES encryption of databases
*  snappy, bzip2, lz4 and/or zlib compression of databases

[2015-09-09 20:27] drsnyder opened #416 "Compile errors"
`bolt` is a dependency of [`influxdb`](https://github.com/influxdb/influxdb/blob/master/LICENSE_OF_DEPENDENCIES.md). I tried building a simple file that depends on the influxdb client and it's failing with bolt compile errors. It looks like the source of the error is coming from this [PR](https://github.com/boltdb/bolt/pull/414).

[2015-09-09 20:59] benbjohnson commented on #416
Are you building with Go 1.4.x?

[2015-09-09 21:07] drsnyder commented on #416
Yes, `go version` produces: `go version go1.4.2 darwin/amd64`.

[2015-09-09 21:14] benbjohnson commented on #416
Hmm, I'm trying to use build tags because Go 1.4 doesn't recognize `arm64` as a `GOARCH` but that doesn't seem to be working: https://github.com/boltdb/bolt/pull/417

I'm going to revert the arm64 change until I can get this figured out.

[2015-09-09 21:20] benbjohnson commented on #416
Can you verify the removal works for you on Go 1.4? https://github.com/boltdb/bolt/pull/418

[2015-09-09 21:26] #416 closed

[2015-09-09 21:45] drsnyder commented on #416
Yup. Works fine now. Thanks!

[2015-09-10 16:19] DavidVorick commented on #275
This is causing errors in our project. Can one of the maintainers review this issue and #372?

[2015-09-11 02:57] mdmarek commented on #348
I've also run into this issue using SSD on Google Compute Engine instances. Bolt build from: https://github.com/boltdb/bolt/commit/033d4ec028192f38aef67ae47bd7b89f343145b5

[2015-09-11 15:59] benbjohnson commented on #275
@DavidVorick Can you verify that the code in #372 works for you?

[2015-09-11 16:01] benbjohnson commented on #415
Compression & encryption can be added on top of Bolt by the user. The project's goal is to provide a simple, transactional database and adding additional features complicates the API.

[2015-09-11 16:01] #415 closed

[2015-09-15 15:05] raggi opened #420 "Tests cannot run on 32 bit platforms"
[code]

This should probably have a build flagged 32-bit value for such platforms.

[2015-09-15 19:01] joyrexus opened #421 "Quick check of bolt wrapper/extension?"
In #380, @xyproto writes:

Ditto. I'm also working on [a bolt wrapper](https://godoc.org/github.com/joyrexus/buckets) and would hugely appreciate a quick check too!

The aim of the wrapper is to streamline simple transactions and esp. working with [prefix](https://godoc.org/github.com/joyrexus/buckets#PrefixScanner) & [range](https://godoc.org/github.com/joyrexus/buckets#RangeScanner) scans.

Any

[2015-09-15 19:15] joyrexus opened #422 "Nested buckets vs key namespacing?"
Are there any performance advantages to using nested buckets instead of a [suitable key namespace](http://docs.aws.amazon.com/AmazonS3/latest/dev/ListingKeysHierarchy.html) for prefix/range scans?

Context: I'm working on [a simple backend web service](https://github.com/rcc-uchicago/xhub/blob/master/blueprint.md) designed to store/retrieve JSON metadata associated with a set of hierarchically rel

[2015-09-15 19:19] xiang90 commented on #348
Any progress on this?

[2015-09-15 20:03] DavidVorick commented on #275
@benbjohnson it actually does not seem to be working.

Code:

[code]

Output:
[code]

[2015-09-15 20:03] kylebrandt opened #423 "Question: Shrink BoltDB File?"
We have a database that has grown to 4G. We have a lot of duplicated data that is going to get removed. Is there anyway to compact the boltdb file once the data is removed?

[2015-09-18 22:19] hryx commented on #422
I'm also interested to know. Not so much for performance reasons, but I don't yet understand what the intended purpose of nesting buckets is. Maybe a one-liner in the readme would help clear that up?

In my case, I'm working on a CLI application that stores relatively little data (metadata caching, latest server response messages, etc.).

[2015-09-20 04:18] phrozen opened #425 "Hotswap and multiple databases"
By reading the code I can see the locks and mutex exist internally to close the database for example, but I don't see them exposed anywhere, use case would be Hotswap of an entire database.

On the other hand, how advisable is to run a program with multiple databases (maybe opened at runtime on demand, or to separate logic from storage for archiving purposes). How much does it cost the DB object?

[2015-09-20 19:43] benbjohnson commented on #422
@joyrexus If you have a large number of keys in the sub-bucket then you can save space by not having to prefix each one. Bolt doesn't do key compression like LSMs do. However, if you have a small number of keys then you'll likely have better performance with simple prefixing since Bolt won't have to traverse down another level into the sub-bucket's b-tree.

@hryx The original use was to essentiall

[2015-09-20 19:43] #422 closed

[2015-09-20 19:50] benbjohnson commented on #425
The internal locks aren't exposed because it seems like an easy way to shoot yourself in the foot. If you don't get the lock ordering right then you can easily deadlock your database.

A hotswap feature would be nice. `Tx` currently implements `io.WriterTo`. It'd be nice if `DB` implemented `io.ReaderFrom`.

As for multiple databases, it shouldn't be a problem to run a bunch and it shouldn't take

[2015-09-20 19:50] #425 closed

[2015-09-20 19:51] hryx commented on #422
That clears it up for me 120%. Megathanks @benbjohnson!

[2015-09-20 19:52] benbjohnson commented on #423
Unfortunately there's not a built-in way to compact a database. You can write a simple program to iterate over buckets from a source database and copy them over to a new database and that'll do the same thing as compacting.

[2015-09-20 19:54] benbjohnson commented on #422
:+1:

[2015-09-20 21:37] phrozen commented on #321
I'm also looking for this kind of functionality. Retreiving the ```value``` on a ```key``` for existance check might incur in unecessary disk io operations and disk read for a large ```value``` (ie. 20-50MB). Of course one can iterate (seek) the whole bucket but that seems like an inefficient O(n) lookup, while doing something exactly like ```bucket.Get()``` uses a more efficient tree search.

Fro

[2015-09-20 22:04] benbjohnson commented on #321
@phrozen Bolt only returns the pointers to the key and value and those live next to each other in a single page. Because they're pointers to the underlying mmap, the entire value is not paged into memory unless it is actually used.

For example, calling `Bucket.Get()` that returns a 50MB value will return your key and value byte slices but only the first ~4KB of the value will be read from disk an

[2015-09-20 22:31] phrozen commented on #321
@benbjohnson Thanks for the clarification, so the actual read of the ```value``` is not done until you call  ```copy()``` on the ```value``` right? I think this should be documented, checking for existence should be as easy as ```bucket.Get()``` and checking for ```nil```.

[2015-09-21 02:14] benbjohnson commented on #321
@phrozen Not quite. The 4KB page that the value starts on is read into memory. If your value is larger than 4KB then those pages will only be read as they're accessed. That's handled entirely by the OS's page cache.

[2015-09-21 09:01] DavidVorick opened #426 "Deleting items from a bucket during ForEach"
If you delete items from a bucket during a ForEach, you can get non-deterministic behavior (the specific problem I ran into was that sometimes not all items would be reached).

Given that go maps work the same way, I probably should have expected this, but it's not documented that you aren't supposed to delete elements from a bucket while iterating through it with ForEach.

[2015-09-21 13:46] davecgh commented on #426
While I agree it should probably be called out on `ForEach` as I ran into it once upon a time too, the behavior is in fact documented under [Cursor](https://godoc.org/github.com/boltdb/bolt#Cursor).

"Changing data while traversing with a cursor may cause it to be invalidated and return unexpected keys and/or values. You must reposition your cursor after mutating data."

Ergo the same applies to `

[2015-09-21 15:38] benbjohnson commented on #426
@DavidVorick Can you submit a documentation PR?

[2015-09-21 18:15] joyrexus commented on #421
FWIW, the [README](https://github.com/joyrexus/buckets#buckets) now provides a quick overview.

[2015-09-21 18:18] joyrexus commented on #422
Got it. Thanks @benbjohnson!

[2015-09-21 20:14] #426 closed

[2015-09-23 15:51] yichengq commented on #378
@benbjohnson Is there any chance/method that we could this fixed? My use case is that it needs to read out at most 10GB snapshot data and save it in another place while keeping writing keys to the boltdb. If the write is blocked, it will block write for several minutes.

[2015-09-24 17:51] chrsm commented on #423
I've found that simply using `tx.WriteTo` to back up certain DBs dramatically reduces the size (while obviously keeping the live data).

I don't have any useful metrics/benchmarks, but I could try to put one together and see if it is an actual benefit.

What kind of duplication and scale are we looking at here? Values that were large are completely removed, shrunk, etc?

[2015-09-25 02:26] DavidVorick opened #429 "Boltdb Deleting Bucket?"
I've started poking around in the bolt codebase, but it seems like, nondeterministically, though after a significant amount of changes within a single tx, calling `Delete` on a bucket can result in the entire bucket being deleted.

edit: it doesn't always drop the whole bucket. Sometimes calling `delete` will just drop 3/5 items. Maybe it's getting confused about a leaf node vs. root/branch node a

[2015-09-25 03:02] davecgh commented on #429
Is the transaction shared across goroutines?  I ask because it's not safe to do that and you mentioned that you can cause the error by adding prints which changes timing characteristics and therefore smells like a race condition.

If you're deleting different IDs from different goroutines using the same transaction, the type of behavior you describe could certainly happen due to the fact `Delete`

[2015-09-25 03:06] DavidVorick commented on #429
@davecgh thanks for dropping in.

The tx is happening as 1 goroutine. The program does spawn hundreds of goroutines but the tx is only active inside of 1 of them. I'll double check that though. Additionally, I have the race detector on, and it's not complaining at all.

I've now been able to get it to drop from 18 items to 10 items in a single delete operation.

[2015-09-25 03:52] DavidVorick commented on #429
Running tx.Check() is not turning up any errors either. Should tx.Check() be able to catch an error like this?

[2015-09-25 06:09] DavidVorick commented on #429
I was able to prevent the problem (even under extreme load) by periodically copying the bucket to memory, deleting it, and then repopulating it. Once the dataset is too large for this to be manageable, I imagine using a temporary bucket will work just as well.

I strongly suspect that there is an error somewhere in bolt's node/leaf logic. The fact that the failures are nondeterministic does sugges

[2015-09-25 16:33] chrsm commented on #429
Can you share something that reproduces this behavior?

[2015-09-28 09:53] tfalencar commented on #327
Hi! Did you find a solution for this problem? I think I'm running into the same problem. Here is the ticket I've opened in influxdb: https://github.com/influxdb/influxdb/issues/4218

I've been doing some research today, and it seems that this is caused by a memory issue in BoltDB. Let me add some more references which I think are related:
https://github.com/tgulacsi/boltcrash
https://github.com/bo

[2015-09-28 11:56] tfalencar opened #430 "BoltDB panic: runtime error: index out of range, portability issues (ARMv5) - unsafe.Pointer"
Hello.

In a [attempt to get Influxdb running in armv5] (https://github.com/influxdb/influxdb/issues/4218), I bumped with the following problem:

2015/09/24 11:47:10 InfluxDB starting, version 0.9, branch unknown, commit unknown
2015/09/24 11:47:10 Go version go1.5, GOMAXPROCS set to 1
2015/09/24 11:47:10 no configuration provided, using default settings
[metastore] 2015/09/24 11:47:10 Using data

[2015-10-01 08:55] DavidVorick commented on #429
https://github.com/NebulousLabs/Sia/tree/bolt-narrowing

run `make test` to reproduce the issue. The whole repo is single threaded. I stripped out substantial portions of the code to keep things as simple as possible. A combination of View, Update, and ForEach are all used in the repo, but as far as I've seen I'm not misusing anything anywhere.

My next step is going to be trying to reproducing th

[2015-10-01 20:34] DavidVorick commented on #429
https://github.com/NebulousLabs/Sia/tree/bolt-narrowing

Stripped out as much logic as time allowed. I tried to reproduce the issues by making a boltdb instance that just copied the reads and writes, but I was unsuccessful. I was only managing the reads + writes for 1 bucket, as opposed to the whole database.

The entire repository runs on a single goroutine, but the failures are still nondetermin

[2015-10-02 18:26] lukechampine commented on #429
Confirmed that this behavior still appears as early as 6903c7447bfb817c1f9995be283b3301c6c1fb5c

[2015-10-02 18:37] DavidVorick commented on #429
I realized why the failures are nondeterministic - the test inserts random data seeded by a timestamp. That behavior is fairly well buried, but I should have realized it sooner.

[2015-10-02 21:58] lukechampine commented on #429
Further testing indicates that the deletions are probably happening correctly, but our code to check the number of entries is faulty. We are using `ForEach` to count the number of entries in the bucket, inside the same transaction in which the entries are deleted. My guess is that this is the real source of the discrepancy.
Is it safe to call `ForEach` on a bucket that has been modified within the

[2015-10-03 00:22] benbjohnson commented on #420
@raggi Can you try changing `MaxValueSize` to `(1<<31)-1` and try running it? I'll just drop down that value if that works on `windows 386`.

[2015-10-06 19:47] gedw99 opened #433 "anyone tried to get this running on android ?"
it performs well on a raspberry, and it begs the question if it can be compiled for mobile. Would be damn useful

[2015-10-07 15:31] abourget commented on #400
I'd *really* like to have tools to manipulate the content of a database, especially since this is a Go-only library, I won't get to use a python lib to easily manipulate the content to do data migrations.

Having a dump, restore, ways to get, set, etc.. would be really important IMO.

[2015-10-09 02:14] agundy opened #434 "Need a test for past projects api call"
Nearly identical to the active projects test that already this one should be an easy one that just adds adds a check that the api returns an array for past projects.

[2015-10-09 02:14] #434 closed

[2015-10-09 02:15] agundy commented on #434
Sorry wrong repo.

[2015-10-09 21:55] raggi commented on #420
Because of the way that the line is written in the test, it needs to be (1<<31)-2 in order to make space for a test slice to be larger than MaxValueSize in order for the error to be returned.

[2015-10-13 20:27] rogierlommers opened #436 "Example of nextSequence usage"
I'm trying to replace sqlite with bolt for my personal, fun project. However, I'm having trouble with auto increment the keys. Would it be possible to provide a very simple example which makes use of the nextSequence() function?

I have found this great post: http://bl.ocks.org/joyrexus/22c3ef0984ed957f54b9
But unfortunately, the used ID's are not generated by bolt. And if I understand correct, th

[2015-10-14 21:41] benbjohnson commented on #436
Yes, Bolt can generate autoincrementing sequences. The sequences are attached to the buckets as a matter of convenience but you can use the resulting value however you'd like.

Given a data type like:

[code]

Typically the usage looks something like:

[code]

[2015-10-14 21:41] #436 closed

[2015-10-15 23:25] tianon opened #438 "New release tag?"
It's been a bit since v1.0 now; any chance we could get a new release tag with some of the improvements made since then? :smile:

(Maybe including #431 so we get more compilation targets too? :innocent:)

[2015-10-16 06:22] rogierlommers commented on #436
Thanks for your feedback; will check it out.

[2015-10-21 15:57] #313 closed

[2015-10-22 15:54] brahmaroutu commented on #438
@benbjohnson What do you think about providing us with a tag? Docker seem to prefer using tags to pull the code instead of commit ids.

[2015-10-22 16:25] tianon commented on #438
For sure, especially since it lightens the burden on our packagers who have
to package Git snapshots if there aren't official releases of a dependency.
:smile: :heart:

[2015-10-23 06:24] lukechampine commented on #429
Update: calling `b.rebalance()` after the `c.node().del(key)` call in `bucket.Delete` seems to resolve the problem. Again, I don't have a strong grasp of bolt's internals, so it will take me some time to find out _why_ this works. At any rate, rebalancing after each delete incurs an acceptable cost for our purposes, so we may choose to vendor bolt and do it ourselves.

[2015-10-23 11:33] DavidVorick commented on #429
@benbjohnson can you provide your input? Can you think of a reason that this would be happening, why `b.rebalance()` would solve the problem, and whether our fix is something you would merge into master?

[2015-10-26 06:04] epsniff commented on #348
I work with @mdmarek, we've hit this panic more often now.   Same stack trace as posted by the original poster.   In our case, we call `tx.Commit()` on a timed interval and we've only seen the panic for databases under heavy loads (large commits).

[2015-10-26 18:47] thaJeztah commented on #438
ping @benbjohnson :heart:

[2015-10-27 16:56] brahmaroutu commented on #438
@benbjohnson Please let us know your thoughts on this. We are waiting to see if we can get version tag on this. Not necessarily a major version change but some point in time tag to process. ex: v1.1 ?

[2015-10-27 19:59] benbjohnson commented on #438
I added a [v1.1.0](https://github.com/boltdb/bolt/releases/tag/v1.1.0) tag on the latest commit with release notes for everything changed since `v1.0`.

[2015-10-27 19:59] #438 closed

[2015-10-27 20:10] brahmaroutu commented on #438
@benbjohnson Thanks a lot.

[2015-10-27 20:16] thaJeztah commented on #438
Thanks @benbjohnson, much appreciated!

[2015-10-27 21:10] cpalone commented on #423
@benbjohnson is this a feature you're interested in bolt having?

[2015-10-28 18:21] benbjohnson commented on #420
Fixed via https://github.com/boltdb/bolt/pull/447

[2015-10-28 18:21] #420 closed

[2015-10-28 18:34] benbjohnson commented on #423
@cpalone It'd be nice to do a recursive copy of every bucket instead of simply using `Tx.WriteTo`. That would eliminate an excessive free pages. You can do a simple version where it happens in one transaction but a more efficient implementation would be to batch it at 1000 key/values at a time. That gets a bit more complicated though.

[2015-10-28 18:36] benbjohnson commented on #400
Have you tried [boltbrowser](https://github.com/br0xen/boltbrowser)? It'd be nice to get something like that merged into the Bolt CLI. Working with binary keys & values over the CLI (without curses) would be difficult IMO.

[2015-10-28 18:36] benbjohnson commented on #399
I added a v1.1.0 tag.

[2015-10-28 18:36] #399 closed

[2015-10-28 20:35] #324 closed

[2015-10-29 08:55] xtaci opened #448 "is cursor loop sorted ascending with fmt.Sprint(b.NextSequence) ?"
is cursor loop sorted ascending with fmt.Sprint(b.NextSequence) ?

[2015-10-29 12:35] xtaci commented on #448
what if i store big-endian uint64  as key?

[2015-10-29 14:49] benbjohnson commented on #448
The cursor iterates in sorted byte order so `binary.BigEndian.PutUint64()` works great but `fmt.Sprint()` will not.

You can do descending order if you use `Last()`/`Prev()` on the cursor instead of `First()`/`Next()`.

[2015-10-29 14:49] #448 closed

[2015-10-29 14:59] xtaci commented on #448
Yes, I've tried <code>binary.BigEndian.PutUint64()</code>, it works as expected.

[2015-10-29 23:45] cpalone commented on #423
I can't give you a timeline on this but I'll give the batch implementation a shot!

[2015-10-30 16:39] everdev opened #449 "Is it possible to access a remote BoltDB file?"
Hi, is it possible to host the .db files one server and query them from another?  In other words, having an app sit on a computationally efficient server and the .db files on a high storage server.  Thanks.

[2015-10-30 16:53] benbjohnson commented on #449
@everdev You could use NFS to attach a disk over the network but I'm not sure what kind of guarantees NFS provides around `fsync` & `mmap`. There's not currently a native network protocol for bolt though.

[2015-10-30 16:53] #449 closed

[2015-10-31 22:47] lukechampine opened #450 "ForEach stops short"
(same issue as #429, but now reproducible.)

`bucket.ForEach` sometimes fails to iterate over the entire bucket if an element has been deleted during the same transaction. Technically, this is a Cursor issue, not a Bucket issue; `Cursor.first` is placing the Cursor at a bad node, causing `Cursor.keyValue` to return nil and `ForEach` to terminate early. Code in question:

[code]
It seems like `ref.

[2015-11-06 18:19] #397 closed

[2015-11-09 16:36] #429 closed

[2015-11-12 02:42] maliubiao opened #456 "massive copy causes 100% cpu in bucket.Put -> node.put"
please fix this.
![pprof002](https://cloud.githubusercontent.com/assets/3348575/11109292/01256c5a-892a-11e5-90ee-3e47425ae938.png)

[2015-11-12 02:45] maliubiao commented on #456
![bug](https://cloud.githubusercontent.com/assets/3348575/11109344/74a9afec-892a-11e5-87c7-59c256707eb5.png)

[2015-11-12 03:11] maliubiao commented on #456
[code]
Log

[code]

[2015-11-12 03:29] benbjohnson commented on #456
@maliubiao This occurs when populating a new bucket with a large number of random `Put()` calls. The alternative is to use a more complicated data structure which would add complexity and add overhead for smaller writes and sequential writes.

You can get around the issue by sorting the keys of your incoming data (in byte order) before inserting or breaking it up into multiple transactions.

[2015-11-12 03:40] maliubiao commented on #456
[code]
@benbjohnson why not reverse a large buffer for inodes?  node.put ->  runtime.growslice use 11.17 % cpu

[2015-11-12 03:44] maliubiao commented on #456
@benbjohnson reserve

[2015-11-12 06:04] maliubiao commented on #456
@benbjohnson  I write a method to reserve inodes,   is the code right?

[code]

[2015-11-15 15:58] maliubiao opened #457 "performance issue, it's a bad idea to use array to store pgids in freelist"
# pprof
![boltdb_freelist](https://cloud.githubusercontent.com/assets/3348575/11169469/2a6bca10-8bf4-11e5-82e7-fd8a1f2724fc.png)

[code]
@benbjohnson
## Too much runtime.memmove,   why not use a linked list to improve performance?

[2015-11-17 10:56] lmb opened #458 "Question: transaction logging (not WAL)"
Hi,

I'm currently trying to figure out what the best way to create transaction logs would be. This is not about improving write performance, but for replicating changes to remote BoltDBs. I want to do the following:

1. Write snapshot of DB to client with Tx.WriteTo
2. Keep client up to date by sending transaction logs (essentially Puts and Deletes and a "version" field)

Ideally I'd be able to p

[2015-11-18 17:25] benbjohnson commented on #458
@lmb You'll probably need to wrap the Bolt types with something of your own. Something like:

[code]

You'll need to do the other methods too (`Delete()`, `Bucket()`, `CreateBucket()`, etc). That should give you a single `txlog` bucket that sequentially stores all your changes. You should be able to wrap `DB.Batch()` as well.

[2015-11-18 17:25] #458 closed

[2015-11-19 01:37] Compasses opened #459 "syscall.Mmap under mount directory will got error: file resize error: invalid argument"
Whether anyone have encountered such error. my GO projects host in windows, mount the directory in my virtual box Ubuntu actually . All my projects can run under these two platforms. But bolt DB such error as title.
if copy the run file on home directory it can work. i think it should be caused by the mount directory, but have no idea about this error. The mmap cannot work under mount directory fi

[2015-11-19 07:58] chnrxn commented on #423
I would like to have this feature as well. it will be nice to be able to shrink the DB in-place while it is still in use.

[2015-12-05 21:17] rhcarvalho opened #465 "Coalescer is gone?"
The README says:

But the link https://github.com/boltdb/coalescer is broken as of now. Old issues make me believe the repository has existed in the past, but is not there anymore.

[2015-12-05 22:16] aviau opened #466 "TestBucket_Put_ValueTooLarge fails on armhf"
Hello!

TestBucket_Put_ValueTooLarge fails on armhf.

This was found by the [Debian CI](https://reproducible.debian.net/rb-pkg/unstable/armhf/golang-github-boltdb-bolt.html). (click for logs)

[code]

[2015-12-06 03:28] #465 closed

[2015-12-06 03:28] benbjohnson commented on #465
The coalescer repo was removed a while ago when @tv42 added `DB.Batch()`. I fixed the README: https://github.com/boltdb/bolt/pull/467

[2015-12-06 18:22] rhcarvalho commented on #465
Thanks @benbjohnson!

[2015-12-06 18:38] rhcarvalho opened #468 "bolt.Open returns non-standard error"
In [db.Open](https://github.com/boltdb/bolt/blob/b34b35ea8d06bb9ae69d9a349119252e4c1d8ee0/db.go#L192), instead of returning a standard error from `errors.go`, the validation error is wrapped with `fmt.Errorf`, which makes it harder to write code that handles specific errors.
I see that it is probably to help with debugging, as the validation error can happen in page "meta0" or "meta1".

I'd like t

[2015-12-07 15:18] benbjohnson commented on #466
@aviau Thanks for reporting the issue. I need to get my raspberry pi set up for CI builds so I can test against ARM better.

[2015-12-07 15:20] benbjohnson commented on #468
@rhcarvalho I agree. If you want to PR a fix then I'll merge it in.

[2015-12-07 17:00] rhcarvalho commented on #468
@benbjohnson thanks, I'll send one when I get a chance.

[2015-12-07 23:34] rhcarvalho commented on #450
@benbjohnson this issue can be closed. It was mentioned in the PR above, but GitHub didn't understand "Fixes A, B" :sunglasses:

[2015-12-08 00:32] #450 closed

[2015-12-09 23:23] jezell commented on #348
Also seeing this error frequently, but bolt check doesn't show any db corruption.

[2015-12-11 04:38] #468 closed

[2015-12-22 05:54] xiang90 commented on #348
@jezell @epsniff @benbjohnson @nicpottier @gyuho I really think we should get this fixed. Can anyone provide a way to reproduce this? I would like to look into it.

[2015-12-23 15:04] kylewolfe opened #473 "Document sub-buckets"
I could not find documentation on how sub-buckets are handled behind the scenes. I'm looking to understand how well nested buckets will perform. Are there any caveats I need to know about (side effects of storing deeply nested buckets? Are the keys of all sub-buckets still indexed? Memory concerns?)

Thanks

[2015-12-26 05:56] TrevorSStone commented on #433
Yes, I have gotten it running on Android in a proof of concept app. Using gomobile it required nothing special. I then used getFilesDir().getAbsolutePath() and created my .db file in there (which doesn't require any extra permissions for the app). I'm new to bolt and also gomobile, but it seems to be working fine so far.

[2015-12-26 17:02] diegobernardes opened #475 "Transaction with multiple databases"
There is any way to use transactions with multiple databases?
Of if this is not possible, there is some restriction to develop this feature?

I'm doing a study about databases and implementing a toy project around boltdb.

[2015-12-27 22:00] benbjohnson commented on #475
Multi-`DB` transactions are not possible. You may be able to implement something similar to 2-phase commit but that seems overly complicated. Bolt can have nested buckets so another option is to simply make each top-level bucket a different database.

[2015-12-27 22:00] #475 closed

[2015-12-28 07:21] joeblew99 commented on #433
Cool.

Any chance you could write down a script / instructions ?
Maybe the maintainer of bolt will be willing to also put it in the repository

[2015-12-28 14:02] funny-falcon commented on #457
Linked list will not resolve main issue: 8 seconds a spend in searching, and only 4 sec in moving.

[2015-12-28 16:14] benbjohnson commented on #433
Sure, I'm happy to add a section to the `README`. Can you PR a short example?

[2015-12-28 17:27] gedw99 commented on #433
I am not the maintainer. Best ask whoever is.

On Mon, 28 Dec 2015, 17:15 Ben Johnson <notifications@github.com> wrote:

[2015-12-28 18:04] benbjohnson commented on #433
I'm the maintainer, however, I don't have experience building for Android. I'm requesting a doc PR from anybody that wants to submit one.

[2015-12-28 18:10] joeblew99 commented on #433
+1

Really will be useful.
Once I see the script, I will have a go at IOS

On Mon, 28 Dec 2015, 19:04 Ben Johnson <notifications@github.com> wrote:

[2015-12-28 19:16] TrevorSStone commented on #433
I would be happy to write some documentation. I'm traveling home today, so
I'll probably get a PR up tomorrow. I haven't tested on ios, but I'll give
it a quick shot as well. From some quick research it seems it will work
without much difficulty
On Dec 28, 2015 1:10 PM, "joeblew99" <notifications@github.com> wrote:

[2015-12-28 20:14] benbjohnson commented on #348
@xiang90 I don't have a way to reproduce right now. I'm doing some refactoring and clean up on the test suite in order to get better, long running simulation testing. I think that'll help to reproduce these types of issues.

[2015-12-29 08:02] joeblew99 commented on #433
@TrevorSStone
Thanks. I will give it a shot also once you get some code up.

[2016-01-02 23:17] mmautner opened #476 "Installation issue"
I just tried `go get github.com/boltdb/bolt` on a clean Ubuntu 14.04 box, and I get the following:

[code]
Am I missing something about what else is required to properly build Bolt on Ubuntu?

[2016-01-03 00:18] chrsm commented on #476
This isn't an issue with bolt. `syscall_solaris.go` shouldn't be built on Ubuntu. I've never used a distribution's packaged `go` install. It's fairly easy to set up under `$HOME`; I would bet that this is an issue w/r/t how Ubuntu packages it.

Can you paste the output of `go env`?

[2016-01-03 01:13] mmautner commented on #476
Odd, using `apt-get` is recommended on the Go wiki: https://github.com/golang/go/wiki/Ubuntu

Here's the output of `go env`:

[code]
In the meanwhile, I'll try installing golang from source. Either way this is not an issue with Bolt.

[2016-01-03 01:13] #476 closed

[2016-01-03 04:36] benbjohnson commented on #476
@mmautner It almost seems like you have two versions of `golang.org/x` downloaded to your `GOPATH`. You may need to remove your `$GOPATH/src/golang.org/x` directory and re-download it.

[2016-01-03 04:37] mmautner commented on #476
Thanks @benbjohnson -- it turns out I had Go 1.2 installed :P

Installing 1.5 resolved the issue.

[2016-01-04 03:09] TrevorSStone commented on #433
Just submitted a PR with some instructions. Please let me know if anything seems off or needs clarification (I am new to bolt, and haven't done obj-c in a while). I also have a boring demo go package at https://github.com/TrevorSStone/boltmobiledemo/ to see how my demo package works. I figured referencing a go library from a java or objc project was out of the scope of the documentation, so I adde

[2016-01-11 23:02] #433 closed

[2016-01-12 06:59] joeblew99 commented on #473
+1

[2016-01-12 07:06] joeblew99 opened #485 "Horizontal scaling tools - ideas"
There are a few tit bits of info around about this.
It would maybe useful to have them as a contributed ?
1. Webadmin UI.
- similar to the rethinkdb one

2. Sharding
- raft based consensus
- sounds a bit like what consul and cockroach do.
- other aspects

I hope this raises discussions here about this

[2016-01-14 23:49] jacek99 opened #488 "Provide helper methods for most common data types"
The need for manual conversion to []byte on every call is really annoying boilerplate after a while.

Would it be possible to add helper methods to all the APIs for the most common types such as string, int64, etc

e.g.

CreateBucketString(bucket string)
PutString(key string, value []byte)

etc

Just some API enhancements to avoid the constant []byte cast every time.

[2016-01-16 17:18] dtromb opened #489 "Suggested edit to concurrency / mmap locking behavior description in README.md"
I found the following text in the README.md a little bit confusing, and it ended up costing me
a bunch of time / wasted code consequently:

    Read-only transactions and read-write transactions should not depend on one another
    and generally shouldn't be opened simultaneously in the same goroutine. This can cause a
    deadlock as the read-write transaction needs to periodically re-map the dat

[2016-01-16 17:24] dtromb commented on #489
(Also, I'm speaking from a place of relative ignorance as I haven't gotten too deep into the bolt source yet, but it would be really nice if this sort of locking up on r/w Commit() didn't happen - is it somehow conceivable that this might be possible?   Perhaps by using copy-on-write paging or something like that? I've never encountered this with other k/v stores...)

[2016-01-16 18:30] MJDSys commented on #489
@benbjohnson Just thinking about this now, is there a reason why we can only have one mapping of the database at a time?  I know 32bit arches would have issues, but 64bit should have tons of VM space.  Would a PR lifting this limitation but using multiple memory maps be considered?  I had some ideas for how it could be arranged, though no guarantees on when that might turn into code.

I'd understa

[2016-01-17 17:17] benbjohnson commented on #489
With #453 and #472 merged in, you can set `InitialMmapSize` to a high number (e.g. 1TB) and it'll only `mmap` once. Then you won't have an issue with transactions blocking other transactions. That option needs to be added to the `README`.

[2016-01-17 22:48] jacek99 commented on #473
+2

[2016-01-17 22:50] jacek99 opened #490 "Provide DB truncation command for automated testing support"
Right now when running Cucumber BDD tests against my app, I need to truncate the DB between every test to reset it back to an empty state.

There seems to be no way to easily do this without iterating through all the buckets, deleting all the keys, etc.

It would be great if there was a command that just reset the DB back to a clean empty state (but preserving all the bucket definitions of course)

[2016-01-18 01:09] benbjohnson commented on #490
I don't see a way to do this easily for all use cases since people use buckets and keys in different way. I can see two different options that you could implement:

1. Remove the file, open a new bolt DB and reinitialize the buckets. Reinitialization shouldn't take very long assuming you don't have a ridiculous number of buckets.

2. Make a copy of the database after it has been initialized and th

[2016-01-18 01:09] #490 closed

[2016-01-18 01:32] dtromb commented on #489
Ah, that might work.  This would only be possible on a 64-bit system, however, correct?   Are there any downsides in performance characteristics are other concerns to be aware of mmap'ing a huge chunk of process space like that?

[2016-01-18 15:04] jacek99 commented on #490
Thanks, went with that approach. Seems very fast to regenerate bucket defs on an new file so not an issue.

[2016-01-18 16:46] benbjohnson commented on #489
Yes, only on a 64-bit system. However, you wouldn't be able to mmap it in multiple smaller chunks on a 32-bit system since you would run out of virtual space.

I don't know of any perf downsides with that approach. That's the approach that LMDB suggests.

[2016-01-18 19:36] dtromb commented on #489
One thing I did come across is that on recent versions of Linux, the documentation claims that adding the MAP_HUGETLB flag to the mmap flags may be more performant for large mappings (it seems it encodes addresses differently internally, that way).   I couldn't see a difference in my test cases, but if if it does make a difference perhaps it should be defaulted in if the initial mmap size is large

[2016-01-18 20:29] benbjohnson commented on #489
I'd be up for adding it to the documentation but I'd like to avoid surprises when users bump from one size to another. There's a `DB.MmapFlags` field where users can add additional flags if they'd like (e.g. `MAP_POPULATE`) but many of those are dependent on use case.

[2016-01-18 21:11] dtromb commented on #489
Makes sense.  (I also just noticed it fails with EINVAL on kernel versions that don't support it!)

Looks like my original problem was completely resolved by #472 (thanks!) and setting initial map size, will leave this open for the sake of that doc change though.

[2016-01-21 22:58] newhook commented on #348
We're having major troubles with one of our production bolt databases continually dying with an error similar to @jezell

[2016-01-21 23:10] benbjohnson commented on #348
@newhook @jezell can you give me any details about your usage of bolt? DB size, key & value sizes, sequential writes or random writes, delete frequency, nested buckets, etc. Anything really. I'm trying to reproduce the issue but I'm not sure what's triggering it right now. It seems to happen to a few people frequently but other people it doesn't happen at all.

[2016-01-21 23:20] jezell commented on #348
We had been using bolt for a git LFS implementation that was running on top of GlusterFS. We were able to mitigate the issue by migrating everything away from GlusterFS and moving bolt to run directly on top of mounted SSD storage. The git repos were not experiencing any corruption, but the bolt db databases used to track the LFS chunks were being corrupted regularly. I suspect it was related to s

[2016-01-21 23:23] newhook commented on #348
We're running on a RAID 5 3xSSD (INTEL SSDSC2BB800H4) cluster on Ubuntu 14 using LSI MegaRAID SAS 9271-4i. The application was running for a long time (like 4 months or so) until the corruption occurred.

[2016-01-22 00:07] benbjohnson commented on #348
@newhook Can you post your stack trace too? Also, what bolt commit are you using?

@jezell Are you still using `gopkg.in/boltdb/bolt.v1`? I wonder if `master` would work better.

[2016-01-22 00:09] xiang90 commented on #348
@benbjohnson Did we fix anything related recently?

[2016-01-22 00:12] newhook commented on #348
[code]

[2016-01-22 00:20] benbjohnson commented on #348
@xiang90 There haven't been many code changes except the CoreOS ones recently. `v1` is from Nov 2014. There have been a decent number of changes between `v1` and `v1.1` which released in Oct 2015.

[2016-01-22 00:21] benbjohnson commented on #348
@xiang90 Are you seeing this issue?

[2016-01-22 00:22] xiang90 commented on #348
@benbjohnson No. But i would love to fix it if anyone can reliably reproduce it.

[2016-01-22 00:26] newhook commented on #348
@benbjohnson I'm not sure exactly what version, but chances are it was whatever was current on Jul 8 11:18:40 2015.

[2016-01-22 00:58] Kulak opened #493 "Synchronization clarification request"
Based on what I've read in documentation I expect that only one update callback is executed at a time on each database file regardless of any other conditions.  I just want to make sure I am on the right track.

Is it guaranteed that each BoltDB update callback function will be called in a **synchronous** manner?

For example, if only one function can execute at the time, then the following code s

[2016-01-22 01:25] benbjohnson commented on #493
Yes, callbacks from `Update()` are serialized so only one can operate at a time.

However, another option for generating unique, autoincrementing keys is to use `Bucket.NextSequence()`:

[code]

[2016-01-22 04:30] MDCox commented on #348
@benbjohnson the version @newhook is using is commit 04a3e85793043e76d41164037d0d7f9d53eecae3 (work with him and just checked the vendored source)

[2016-01-22 17:53] Kulak commented on #493
Thank you.  I wish the was some "forum" to ask questions instead of opening an Issue.

[2016-01-22 17:53] #493 closed

[2016-01-22 17:57] benbjohnson commented on #493
Issues work well because they end up being indexed by Google. There's also a #boltdb room on the Gopher Slack: https://gophersinvite.herokuapp.com/

[2016-01-22 18:49] epsniff commented on #348
@benbjohnson I wrote some code to reproduce this.   So far I've gotten to trigger twice after running for about 10mins.    Ill post a link in few mins.

[2016-01-22 19:02] epsniff commented on #348
It's not consistent how long it needs to run before it panics...  But usually within 10 mins, but a couple of times it ran longer..
https://gist.github.com/epsniff/f919369dccb4d5c13504

[2016-01-22 19:40] xiang90 commented on #348
@epsniff Can you try to reproduce (confirm it can be reproduced) on a Cloud env? Or I can try to do it next week. Then it would be easier for us to look into the issue.

[2016-01-22 21:12] epsniff commented on #348
@xiang90 I was able to reproduce it on a Google Compute Engine(GCE) instance of type `n1-standard-4 (4 vCPUs, 15 GB memory)`.   With a 200GB (standard persistent disk).   Go 1.5.2.   The version of BoltDB has `commit 033d4ec028192f38aef67ae47bd7b89f343145b5` as the last commit.

[2016-01-22 21:20] benbjohnson commented on #348
@epsniff Awesome! That helps a ton. Also, what Go version are you running? And do you know what file system your `/tmp` directory is running on?

[2016-01-22 21:23] epsniff commented on #348
Go 1.5.2   And `/tmp` was a standard persistent disk, which is equivalent to AWS's `EBS General Purpose (SSD) ` disks I believe.

[2016-01-22 21:37] xiang90 commented on #348
@epsniff Great! I will try and get back to you guys next week.

[2016-01-22 21:37] epsniff commented on #348
The disks were formatted with `ext4`...

[2016-01-22 22:04] benbjohnson commented on #348
@epsniff I'm able to get the panic on my MBP after about 20m. That gives me something to work with! :boom:

[2016-01-23 13:45] rgeronimi opened #495 "Documentation seems to contradict the code for Windows timeouts for db file locking"
By writing a patch for no-timeouts (#494) I saw the Windows code does support timeouts for db file locking. It seems to be contradicted by the documentation which states that the Timeout option is "only available on Darwin and Linux.". I code on Linux & MacOS so I dont have the means to test which understanding is the right one on Windows.

[2016-01-25 13:22] peter-edge commented on #488
I'm working on auto-generating these, I was going to file an issue about it when done and seeing if there's any interest in adding it mainline: https://github.com/peter-edge/boltutil-go

[2016-01-25 14:57] peter-edge commented on #488
@jacek99 it's mostly "done, I did move it to https://github.com/peter-edge/bolttype-go (but original link will work, it's a repo rename). https://go.pedge.io/bolttype works too.

`bolttype.DB` is a complete wrapper for `bolt.DB`, except adds auto-generated functions to/from all pairs of:

[]byte
string
uint16
uint32
uint64
pair(uint16,uint16)
pair(uint32,uint32)
pair(uint64,uint64)
pair(uint16,[]b

[2016-01-25 15:05] benbjohnson commented on #488
@jacek99 I agree that it's annoying to convert to `[]byte` all the time. I think that adding helper functions for the different types will make the API explode and make the `godoc` nearly unusable. The types used are very application dependent so I think keeping them in a separate repo works better and users can `import` or copy them to their application directly.

Personally, I typically use `int

[2016-01-25 15:05] #488 closed

[2016-01-25 15:11] peter-edge commented on #488
But it would be nice to just have this immediately available for common primitives, no? If the naming is consistent, it doesn't matter too much how the godoc looks, ie (from what I just did):

https://godoc.org/go.pedge.io/bolttype - unusable, no questions there
`GetUint64ToBytes(key uint64) []byte` - consistent, I know what function to call
`ForEachUint64ToBytes(fn func(key uint64, value []byte)

[2016-01-25 15:28] benbjohnson commented on #488
@peter-edge I think it adds too much complexity, especially since it requires adding new `DB`, `Bucket`, and `Tx` structs. I think simple `xtob()` functions (e.g. `i64tob()`) provide the same benefits without requiring the generation of so much code.

[2016-01-25 15:40] jacek99 commented on #488
I think you should at least provide support for string out of the box (both for keys and values as well as a combinatio). That should cover at least 80% of common usage IMHO.

[2016-01-25 15:42] mkobetic opened #497 "Performance: Sequential/append writes slow down a lot for larger buckets"
We're seeing this with large bulk imports that we're doing when rebuilding our traffic databases. We're importing the values already presorted in sequential order so this should be a true append-only style workload. For smaller buckets < 1M values this is going quite nicely, but larger buckets seem to slow down disproportionately. The profile seems to point at [this spot](https://github.com/boltdb

[2016-01-25 15:45] mkobetic commented on #497
I should add this is running go version go1.5.3 linux/amd64

[2016-01-25 15:50] benbjohnson commented on #488
@jacek99 There's a bunch of different cases even for `string`. For example, do you want string keys and string values, or just string keys and `[]byte` values? Also, how do you indicate an unset key when the value is `string`? With `[]byte` an unset value is `nil` and an empty set value is `[]byte{}`.

I've had other people complain that the API is already too large (which I somewhat agree with).

[2016-01-25 15:52] peter-edge commented on #488
I'd argue that for primitives with a non-nil zero value, you can do (type,
bool) as the return value, similar to maps. But I think we have the answer
for this issue :)

On Mon, Jan 25, 2016 at 4:50 PM, Ben Johnson <notifications@github.com>
wrote:

[2016-01-25 15:56] benbjohnson commented on #497
@mkobetic Yeah, that seems like an insane amount of time to spend on `memmove()`. Are there existing values in the buckets that have keys are higher than the ones you're inserting? Also, I'd be interested in seeing how performance changes if you add preallocations in your vendored code.

[2016-01-25 16:07] mkobetic commented on #497
This is filling an empty DB with pre-sorted data, so this should be truly append only workload. I haven't instrumented the code to prove that beyond doubt but, I'm fairly confident about it (we were writing unsorted data earlier by accident and it was a LOT slower, to the point that it wouldn't finish in any reasonable time).

I will try patching our vendored code for our case, that's definitely t

[2016-01-25 17:35] mkobetic commented on #497
Actually on second thought, it may not be true append after all. If you remember we're truncating the  session timestamps to 24hrs to help associating later pageviews with the initial ones (I keep forgetting about that). So while we're dutifully sorting the sessions based on their timestamp, that's not going to be the same order as the one implied by the actual DB keys (which is truncated time + s

[2016-01-25 22:51] cep21 opened #498 "Doing a write while doing a read prevents all future reads until the write finishes, even if the write is blocking"
### Current behavior

If one takes a long read lock, for example when downloading a database via HTTP, this will take a mmap.RLock().  Other reads will be allowed while this happens during this RLock().  If any write operation happens, that write operation will block on mmap.Lock() call and cause all future mmap.RLock() operations to block.  This means that a single write will stop all read operat

[2016-01-25 22:55] xiang90 commented on #498
@cep21

Please check https://github.com/boltdb/bolt/blob/master/db.go#L860-L868.

You can give it a large mmap size. It won't grow on disk size, just use more virtual memory. It wont be a problem in general.

[2016-01-25 22:58] cep21 commented on #498
What should I do for databases that I expect to be gigabytes in size?  Should this be in the billions?  Will this work for databases that are already created?

[2016-01-25 23:02] xiang90 commented on #498
@cep21 Well... I cannot answer this question for you. It is your database, and you are the best person to guess the size. If you do not have an expectation of your database size, this solution will not work well for you. It should work for databases that already created. But you'd better try it out first.

[2016-01-25 23:18] cep21 commented on #498
I see.  I'm trying to figure out how allocate() works.  It looks like when allocate() isn't able to find memory, it grows the mmap by only a small amount.  Is that true?  Would it be more efficient to grow mmap() by some larger size over time?

[2016-01-25 23:35] cep21 commented on #498
Nevermind, I spotted ```mmapSize``` and noticed the growth algorithm

[2016-01-25 23:40] xiang90 commented on #498
@cep21 Awesome. Thanks!

[2016-01-26 18:06] dtromb opened #499 "Cursor documentation (minor) ambiguity"
There are two ways that Prev/Next iterators/cursors can be implemented.  It would be nice if the documentation specified which of the following two semantics occur:

Situation "1": cursor positions "between" entries: (switching directions "repeats" a value)

A * B C D
next() = B, prev() = A, next.prev() = B, next.next() = C, prev.prev = nil, prev.next() = A

Situation "2": cursor positions "over"

[2016-01-28 20:05] Kulak opened #502 "reverse foreach on bucket"
It would be nice to have a convenience method that iterates from Last to First.

[2016-01-28 20:20] chrsm commented on #502
Do cursors not work for you?

    c := b.Cursor()
    for k, v := c.Last(); k != nil; k, v = c.Prev() {
        fmt.Printf("key=%X, value=%X\n", k, v)
    }

[2016-01-28 21:00] Kulak commented on #502
Yes, that's what I use right now.

[2016-01-28 21:01] Kulak commented on #502
No plan to enhance is fine by me.

[2016-01-28 22:33] benbjohnson commented on #502
@Kulak I've found that many people are confused by `ForEach()` vs `Cursor`. I actually wish that I hadn't added `ForEach()` in the first place. I don't want to add `ReverseForEach()` because I feel like it will confuse users further and it clutters the API.

[2016-01-28 22:33] #502 closed

[2016-01-28 22:35] benbjohnson commented on #497
@mkobetic I remember the truncated session timestamps vividly. :) Were you able to verify the sorting?

[2016-01-28 22:45] xiang90 commented on #497
/cc @gyuho

[2016-01-29 01:00] mkobetic commented on #497
@benbjohnson not yet, I made the code changes, but struggled with odd test failures and lack of time this week. I expect to have an answer either tomorrow or early next week.

[2016-01-29 20:16] mkobetic commented on #497
OK, after actually sorting the values the same way they are sorted in the DB the import's running at 7x the speed and the profile is much more even. I'd still say the random insert profile is suspiciously lopsided, but I don't whether anyone particularly cares about that scenario, so I'm happy to close this issue.

Just for a bit of context here if anyone cares, I was importing about 2B values acr

[2016-01-29 21:11] benbjohnson commented on #497
@mkobetic The nodes don't split until they're spilled to disk and the children of a `node` are a simple sorted slice so what can happen is if you randomly insert a bunch of data into a single node then it'll have to keep shifting the slice so it can insert the data.

This normally isn't a problem since the slices are usually small but if you have large transactions with a bunch of values in one no

[2016-01-29 21:11] #497 closed

[2016-01-29 22:09] mkobetic commented on #497
OK, that clarifies what was happening in this case. The chunks we're importing are fairly large (anywhere from 1-8M values depending on a partition) and committed in single transaction so we're probably creating giant nodes that were constantly shifting around their contents to accommodate the random inserts. So random inserts => small transactions, got it.

That also adjusts my assumptions about

[2016-01-31 21:28] DavidVorick opened #503 "Copying Database Files cross-platform"
Is it save in Bolt to copy a database file that way made on say, Lin64 to a Win32 platform? This is related to user support - we want to give our users an in-use database. The database will be created on a Linux64 machine, and then will be distributed with the binaries to all other major platforms. I want to make sure that there won't be any problems from transplanting a database file that was mad

[2016-01-31 22:41] benbjohnson commented on #503
Yes, it's safe to copy files across different OSes. The architecture only needs to have the same endianness.

[2016-01-31 22:41] #503 closed

[2016-02-02 06:07] ChrisHines opened #504 "Windows: default options limit database to 64MB."
Environment:

OS: Windows 7
Go: go version go1.5.1 windows/amd64

Steps to reproduce:

1. Open a new database with `nil` options.
1. Create a bucket
1. Repeatedly put new key/value pairs into the bucket.

What happens:

The database file quickly grows to 64MB and then bolt returns an error:

[code]
Workarounds: The error does not occur if the database is opened with the `NoGrowSync` option enabled

[2016-02-04 12:19] schollz commented on #504
Thanks for the workaround, I also ran into this issue yesterday (Windows 10, go1.5.1 windows/amd64) and had a hard time finding the fix.

How should this work for cross-compilation? [The docs](https://github.com/boltdb/bolt/blob/master/db.go#L42) indicate that `NoGrowSync=true` is only safe on non-ext3/ext4 systems. Should one detect the filesystem before proceeding?

[2016-02-04 13:41] flaviovdf commented on #473
+3

[2016-02-04 14:36] fawick opened #506 "tx.CopyFile fails on on windows/amd64"
When running the following small program on windows/amd64...
[code]

... I receive the following error:
`copy file: meta copy: read my.db: The process can not access the file because another process has locked a portion of the file.`

[2016-02-04 16:22] DavidVorick commented on #504
We have been using bolt for a while and our users haven't reported this issue. Our database right now gets to about 500MB in size, well beyond that 64MB that you are reporting returns an error.

There must be other conditions that are causing the problem? We are not changing the default values for `NoGrowSync`. Or do you mean that you are adding more than 64MB in a single transaction?

[2016-02-05 04:15] ChrisHines commented on #504
I don't know what other conditions may be causing the problem. It happens 100% of the time for me from more than one set of code doing different sized transactions. The following code reproduces the problem for me:

[code]
Trimmed output:
[code]

[2016-02-07 01:54] dustinhiatt-wf opened #509 "performance: large concurrent inserts annihilated by memmove"
I have the need to insert 2 million keys as quickly as possible.  My keys are randomly distributed and I use a simple partitioning algorithm to divide my writes amongst 64 partitions.  I noticed, especially moving from one million inserts to two million, a massive performance bottleneck in memmove.

[code]

Looking at the origin, I discovered that it was in the key insertion for nodes.  The copy f

[2016-02-07 02:51] benbjohnson commented on #509
@dustinhiatt-wf The `[]inode` is used to minimize additional objects needing to be collected. Once you change it to `[]*inode` then you need to allocate the slice as well as every single individual inode. It may speed this particular case up but it's going to create a lot of GC pressure that will cause most other applications to slow down.

The issue in this case is that Bolt won't split nodes unt

[2016-02-07 02:56] benbjohnson commented on #504
@ChrisHines Can you try with this commit: 852d3024fa8d89dcc9a715bab6f4dcd7d59577dd

I believe the issue is caused by this commit: https://github.com/boltdb/bolt/pull/453

I need to get better CI running so that non-Unix platforms can be tested regularly (Windows, ARM, etc). I don't have access to a Windows machine so it's difficult for me to test every pull request.

[2016-02-07 03:10] dustinhiatt-wf commented on #509
@benbjohnson Sounds good, I'll give it a try.

[2016-02-07 03:11] #509 closed

[2016-02-07 05:55] ChrisHines commented on #504
@benbjohnson That commit does not exhibit the problem. I modified the code I posted above to drive a `git bisect` and got this bisect log:

$ git bisect log
git bisect start
bad: [ee4a0888a9abe7eefe5a0992ca4cb06864839873] Merge pull request #492 from boltdb/revert-491-arm64
good: [852d3024fa8d89dcc9a715bab6f4dcd7d59577dd] skip empty pages during cursor seek
good: [8b08bd4a8065cb7a240761c3683e8f837

[2016-02-07 07:33] ChrisHines commented on #504
@benbjohnson after a bit more digging, I found a bug in my bisect driver. Fixing the bug and re-running the bisect, I now get this log:

git bisect start
bad: [2f846c3551b76d7710f159be840d66c3d064abbe] Merge pull request #508 from hermanschaaf/patch-1
good: [852d3024fa8d89dcc9a715bab6f4dcd7d59577dd] skip empty pages during cursor seek
good: [34a0fa5307f7562980fb8e7ff4723f7987edf49b] Merge pull req

[2016-02-07 16:34] xiang90 commented on #504
@ChrisHines Did you run the bisect multiple times to make sure the result is reliable?

[2016-02-07 16:43] benbjohnson commented on #506
@fawick I'm working on getting a Windows CI server up and running so I can get better test coverage for Windows machines. If Windows won't allow another file handle open while the process owns a write file handle then we may need to reuse `db.file`. However, that will mean that writes will block while the database is being copied.

[2016-02-07 16:47] benbjohnson commented on #504
@xiang90 I think we'll need to close the `db.file` handle while growing for Windows machines. I would expect this to be the commit that changed this behavior (since `grow()` is now separate from `mmap()`):

https://github.com/boltdb/bolt/commit/d8b06c0a7706affa05b729523827ebe9ba3d9def

[2016-02-07 17:00] xiang90 commented on #504
@benbjohnson You are probably right. I see windows has separate logic for handling mmap+grow. I do not have access to windows machines at the moment unfortunately.

[2016-02-07 19:45] ChrisHines commented on #504
@benbjohnson @xiang90 Yes, I can reproduce the problem every time on a122e1c02bae30d40559b4daf028e579fcc2017c and it does not reproduce on 694a82a9595845d376dd19ff5c24cab78801204b.

[2016-02-07 20:39] ChrisHines commented on #504
After looking at the commits in question more carefully, I noticed that the first bad commit (a122e1c02bae30d40559b4daf028e579fcc2017c) added a (previously missing) error check to the call to grow in `Tx.Commit` (see https://github.com/boltdb/bolt/commit/a122e1c02bae30d40559b4daf028e579fcc2017c#diff-8624b8c3952f1cd26aa8ffc37e653eabR189). So I rolled back to to the last good commit (694a82a9595845d

[2016-02-07 20:43] ChrisHines commented on #504
Researching the OS calls in play `os.File.Truncate` on Windows eventually calls SetEndOfFile, this paragraph from the [MSDN docs](https://msdn.microsoft.com/en-us/library/windows/desktop/aa365531(v=vs.85).aspx) seems relevant:

[2016-02-07 21:01] ChrisHines commented on #504
This bug seems to be caught by the current test suite. `TestDB_Put_VeryLarge` fails on master as follows:

[code]

[2016-02-08 02:21] ChrisHines commented on #506
On Windows `os.OpenFile` opens files with `FILE_SHARE_READ | FILE_SHARE_WRITE`, which normally allows opening the file multiple times by multiple processes. But 1cb787ee7bfebef44baf98158967a37735e65790 added code to to call [`LockFileEx`](https://msdn.microsoft.com/en-us/library/windows/desktop/aa365203(v=vs.85).aspx) to acquire a lock on the file that does prevent subsequent opens—even by the sam

[2016-02-08 02:25] ChrisHines commented on #506
A less safe alternative is to add this code to the top of `Tx.WriteTo`:

[code]

Which at least allows several tests to pass that currently fail on Windows. The tests that this issue cause to fail are: TestTx_CopyFile, TestTx_CopyFile_Error_Meta, and TestTx_CopyFile_Error_Normal.

[2016-02-09 01:16] DavidVorick commented on #504
I earlier stated that our users had not been running into this issue, although it appears that I have spoken too soon. They have started reporting this issue. Sorry for the confusion.

[2016-02-10 16:55] jiminoc opened #511 "BoltDB Performance example?"
I'm trying to do a simple test of boltdb's performance. I ran batches of 100,000 inserts up to 100 million records. Then I tried to read back all 100 million records from that bucket. I tested on a c1.xlarge with an EBS SSD backed data volume. I'm pretty pleased with the results even on that older instance type. I made sure to write enough data so it wasn't all able to be stored in RAM to make sur

[2016-02-10 17:40] xiang90 commented on #511
@jiminoc If you make the key interested sequentially, it can improve the performance significantly.

https://gist.github.com/jiminoc/e2c772e9eafce2901364#file-boltdb-go-L33. Print id as its byte representation, not in human readable string.

[2016-02-10 18:13] benbjohnson commented on #511
@jiminoc As @xiang90 said, sequential writes are significantly faster. Also, shorter keys are more efficient. If you made a bucket with the key:

[code]

and then inserted the ids as keys as big endian byte slices then you'd get much better performance:

[code]

That would make the keys so that they're inserted in sequential order.

If you're always going to append keys (and never insert randomly)

[2016-02-10 21:45] jiminoc commented on #511
@benbjohnson when the db file is able to be served from memory I was getting 2.5 million reads per second at 10million items (3.1GB file) I was getting that, then I went to 100 million and it went down to the 62K.

[2016-02-11 04:44] tvmaly opened #512 "Batch example creating a bucket and putting a value in one call?"
could you add an example of a call to Batch that shows a bucket being created and a value being added in one call?

[2016-02-11 06:58] xiang90 commented on #512
@tvmaly You can create a tx, and insert multiple kv pairs to batch updates.

See https://github.com/boltdb/bolt/blob/master/cmd/bolt/main.go#L1042-L1065 for example.